{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (optional)
    - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_rating: {Boolean} Show the product rating. Default: false
    - no_lazy_load: {Boolean} Image should be lazy loaded. Default: false (optional)
    - section_id: {String} The ID of the section that contains this card.
    - show_color_swatches: {Boolean} Show/hide the color option.
    - color_swatches_style: {String} The format of the color swatches. Values are "variant" and "custom". Default is "custom" (optional)
    - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

    Usage:
    {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}


{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if media_aspect_ratio == 'adapt' and card_product.featured_media
      assign ratio = card_product.featured_media.aspect_ratio
      if ratio == 0 or ratio == null
        assign ratio = 1
      endif
    endif
    assign columns_desktop_number = columns_desktop | default: 4
  -%}
  {%- capture sizes -%}
    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: columns_desktop_number }}px, (min-width: 990px) calc((100vw - 130px) / {{ columns_desktop_number }}), (min-width: 750px) calc((100vw - 120px) / {{ columns_tablet | default: 3 }}), calc((100vw - 35px) / {{ columns_mobile | default: 2 }})
  {%- endcapture -%}
  <div class="card-wrapper card-wrapper--product por h100">
    <div class="card card--product
      {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}{% unless no_lazy_load %}{% if allow_effect %} appear-animate-item-in-list{% endif %}{% endunless %}"
    >
      <div class="card__inner w100 por">
        {%- if card_product.featured_media -%}
          <div class="media media--hover-effect w100 media--{{ media_aspect_ratio }}{% if media_aspect_ratio == 'adapt' %} ratio{% endif %}"{% if media_aspect_ratio == 'adapt' %} style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"{% endif %}>
            {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
            {%- liquid
              assign srcset = ''
              if card_product.featured_media.width >= 165
                assign product_image_url = card_product.featured_media | image_url: width: 165
                assign srcset = srcset | append: product_image_url | append: ' 165w,'
              endif
              if card_product.featured_media.width >= 360
                assign product_image_url = card_product.featured_media | image_url: width: 360
                assign srcset = srcset | append: product_image_url | append: ' 360w,'
              endif
              if card_product.featured_media.width >= 430
                assign product_image_url = card_product.featured_media | image_url: width: 450
                assign srcset = srcset | append: product_image_url | append: ' 450w,'
              endif
              if card_product.featured_media.width >= 533
                assign product_image_url = card_product.featured_media | image_url: width: 533
                assign srcset = srcset | append: product_image_url | append: ' 533w,'
              endif
              if card_product.featured_media.width >= 720
                assign product_image_url = card_product.featured_media | image_url: width: 720
                assign srcset = srcset | append: product_image_url | append: ' 720w,'
              endif
              if card_product.featured_media.width >= 940
                assign product_image_url = card_product.featured_media | image_url: width: 940
                assign srcset = srcset | append: product_image_url | append: ' 940w,'
              endif
              if card_product.featured_media.width >= 1066
                assign product_image_url = card_product.featured_media | image_url: width: 1066
                assign srcset = srcset | append: product_image_url | append: ' 1066w,'
              endif
              assign product_image_url = card_product.featured_media | image_url
              assign srcset = srcset | append: product_image_url | append: ' ' | append: card_product.featured_media.width | append: 'w'
            -%}
            {%- unless no_lazy_load -%}
              {{ card_product.featured_media | image_url: width: 300 | image_tag: sizes: sizes, srcset: srcset, width: card_product.featured_media.width, height: card_product.featured_media.height, class: 'motion-reduce', loading: 'lazy' }}
            {%- else -%}
              {{ card_product.featured_media | image_url: width: 300 | image_tag: sizes: sizes, srcset: srcset, width: card_product.featured_media.width, height: card_product.featured_media.height, preload: true, class: 'motion-reduce', fetchpriority: 'high' }}
            {%- endunless -%}  
            
            {%- if card_product.media[1] != nil and show_secondary_image -%}
              {%- liquid
                assign srcset = ''
                if card_product.media[1].width >= 165
                  assign product_image_url = card_product.media[1] | image_url: width: 165
                  assign srcset = srcset | append: product_image_url | append: ' 165w,'
                endif
                if card_product.media[1].width >= 300
                  assign product_image_url = card_product.media[1] | image_url: width: 300
                  assign srcset = srcset | append: product_image_url | append: ' 300w,'
                endif
                if card_product.media[1].width >= 450
                  assign product_image_url = card_product.media[1] | image_url: width: 450
                  assign srcset = srcset | append: product_image_url | append: ' 450w,'
                endif
                if card_product.media[1].width >= 533
                  assign product_image_url = card_product.media[1] | image_url: width: 533
                  assign srcset = srcset | append: product_image_url | append: ' 533w,'
                endif
                if card_product.media[1].width >= 720
                  assign product_image_url = card_product.media[1] | image_url: width: 720
                  assign srcset = srcset | append: product_image_url | append: ' 720w,'
                endif
                if card_product.media[1].width >= 940
                  assign product_image_url = card_product.media[1] | image_url: width: 940
                  assign srcset = srcset | append: product_image_url | append: ' 940w,'
                endif
                if card_product.media[1].width >= 1066
                  assign product_image_url = card_product.media[1] | image_url: width: 1066
                  assign srcset = srcset | append: product_image_url | append: ' 1066w,'
                endif
                assign product_image_url = card_product.media[1] | image_url
                assign srcset = srcset | append: product_image_url | append: ' ' | append: card_product.media[1].width | append: 'w'
              -%}
              {{ card_product.media[1] | image_url: width: 300 | image_tag: sizes: sizes, srcset: srcset, width: card_product.media[1].width, height: card_product.media[1].height, class: 'motion-reduce', loading: 'lazy' }}
            {%- endif -%}
            {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
          </div>
        {%- else -%}
        <div class="media w100 media--{{ media_aspect_ratio | replace: 'adapt', 'square' }}">&nbsp;</div>  
        {%- endif -%}

        {%- liquid
          render 'card-product-badges', card_product: card_product, section_id: section_id, prefix_id: 'Badge' 
        -%}
        
        {%- if show_quick_view -%}
          <quick-view-modal-opener data-modal="#QuickView-Modal" class="quick-button quick-button--view small-hide medium-hide">
            <button
              type="button"
              class="quick-view__submit button ignore-effect"
              aria-haspopup="dialog"
              data-product-url="{{ card_product.url }}"
              aria-label="{{ card_product.title | escape }}"
              tabindex="-1"
            >
              {%- render 'icon-eye' -%}
              <div class="loading-overlay__spinner hidden">
                {%- render 'icon-cart-loading' -%}
              </div>
            </button>
          </quick-view-modal-opener>
        {%- endif -%}
      </div>
      <div class="card__content card__content--product">
        <div class="card__information">
          {%- if show_vendor -%}
            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
            <div class="caption light card__vendor break">{{ card_product.vendor }}</div>
          {%- endif -%}

          <h3 class="card__heading card__heading--product {% if full_on_mobile %}card__heading--product-large{% else %}card__heading--product-small{% endif %}"{% if card_product.featured_media %} id="title-{{ section_id }}-{{ card_product.id }}"{% endif %}>
            <a href="{% unless include_collection %}{{ card_product.url }}{% else %}{{ card_product.url | within: include_collection }}{% endunless %}" id="CardLink-{{ section_id }}-{{ card_product.id }}" class="full-unstyled-link" aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }} Badge-{{ section_id }}-{{ card_product.id }}" tabindex="0">
              {{ card_product.title | escape }}
            </a>
          </h3>
          <div class="card-information w100">
            {%- assign has_rating_data = false -%}
            {%- if show_rating and settings.read_rating_data_from_app != 'none' -%}
              {%-liquid
                assign number_gap = 4
                case settings.read_rating_data_from_app
                when 'standard'
                  assign rating_value = card_product.metafields.reviews.rating.value.rating | default: 0 | plus: 0.0
                  assign rating_max = card_product.metafields.reviews.rating.value.scale_max | default: 5
                  assign rating_count = card_product.metafields.reviews.rating_count | default: 0 | plus: 0
                  if card_product.metafields.reviews.rating.value != blank
                    assign has_rating_data = true
                  endif
                when 'loox'
                  assign rating_value = card_product.metafields.loox.avg_rating.value | default: 0 | plus: 0.0
                  assign rating_max = 5
                  assign rating_count = card_product.metafields.loox.num_reviews | default: 0 | plus: 0
                  if card_product.metafields.loox.avg_rating.value != blank
                    assign has_rating_data = true
                  endif  
                when 'okendo'
                  assign rating_summary_data = card_product.metafields.okendo.summaryData
                  assign rating_value = rating_summary_data.reviewAverageValue | default: 0 | plus: 0.0
                  assign rating_count = rating_summary_data.reviewCount | default: 0 | plus: 0
                  assign rating_max = 5
                  if rating_summary_data != blank
                    assign has_rating_data = true
                  endif
                when 'stamped'
                  assign rating_value = card_product.metafields.stamped.reviews_average | default: 0 | plus: 0.0
                  assign rating_count = card_product.metafields.stamped.reviews_count | default: 0 | plus: 0
                  assign rating_max = 5
                  if card_product.metafields.stamped.reviews_average != blank
                    assign has_rating_data = true
                  endif  
                endcase
                if has_rating_data
                  assign number_gap = rating_max | minus: rating_value | minus: 1.00 | at_least: 0 | ceil
                endif
              -%}
            {%- endif -%}
            {%- if has_rating_data -%}
              <div class="card__rating flex align-center w100 margin-top-1rem">
                <div class="rating rating--in-card" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: rating_value, rating_max: rating_max }}">
                  <div aria-hidden="true" class="rating-star flex por" style="--rating: {{ rating_value }}; --rating-max: {{ rating_max }}; --number-gap: {{ number_gap }};">
                    <svg width="13" height="12" viewBox="0 0 13 12" fill="none" focusable="false" xmlns="http://www.w3.org/2000/svg">
                      <use href="#icon-star">
                    </svg>
                    <svg width="13" height="12" viewBox="0 0 13 12" fill="none" focusable="false" xmlns="http://www.w3.org/2000/svg">
                      <use href="#icon-star">
                    </svg>
                    <svg width="13" height="12" viewBox="0 0 13 12" fill="none" focusable="false" xmlns="http://www.w3.org/2000/svg">
                      <use href="#icon-star">
                    </svg>
                    <svg width="13" height="12" viewBox="0 0 13 12" fill="none" focusable="false" xmlns="http://www.w3.org/2000/svg">
                      <use href="#icon-star">
                    </svg>
                    <svg width="13" height="12" viewBox="0 0 13 12" fill="none" focusable="false" xmlns="http://www.w3.org/2000/svg">
                      <use href="#icon-star">
                    </svg>
                  </div>
                </div>
                <p class="rating-count caption dib margin0 lh1">
                  <span aria-hidden="true">({{ rating_count }})</span>
                  <span class="visually-hidden">{{ rating_count }} {{ "accessibility.total_reviews" | t }}</span>
                </p>
              </div>
              {% render 'price', product: card_product, show_in_card: true, price_class: 'small-margin-top', show_badges: true %}
            {%- else -%}
              {% render 'price', product: card_product, show_in_card: true, price_class: 'margin-top-1rem', show_badges: true %}    
            {%- endif -%}
          </div>
        </div>

        {%- if show_color_swatches -%}
          {%- render 'card-product-colors', card_product: card_product, color_swatches_style: color_swatches_style -%}
        {%- endif -%}

        {%- if show_quick_add or enable_compare -%}
          <div class="card__quick-buttons flex justify-space-between align-end overflow-hidden margin-top-1rem">
            {%- if show_quick_add -%}
              {%-liquid
                unless settings.cart_button_text == 'visible'
                  assign cartTextClasses = 'medium-hide'
                  if small_space_on_large_screen
                    assign cartTextClasses = cartTextClasses | append: ' large-up-hide'
                    assign cartIconClasses = ''
                  else
                    assign cartIconClasses = 'large-up-hide'  
                  endif
                  unless full_on_mobile
                    assign cartTextClasses = cartTextClasses | append: ' small-hide'
                  else
                    assign cartIconClasses = cartIconClasses | append: ' small-hide'  
                  endunless
                endunless  
              -%}
              {%- if card_product.available -%}
                {%- assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id -%}
                {%- if card_product.variants.size == 1 -%}
                  <product-form class="quick-button quick-button--add{% unless enable_compare %} flex-grow-1{% endunless %}">
                    {%- form 'product', card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                      <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}" disabled>
                      <button
                        id="{{ product_form_id }}-submit"
                        type="submit"
                        name="add"
                        class="quick-add__submit button cart-submit-button button--medium{% unless enable_compare %} w100{% endunless %}"
                        aria-haspopup="dialog"
                        aria-label="{{ "products.product.add_to_cart" | t | escape }}"
                        aria-live="polite"
                        data-sold-out-message="false"
                      >
                        {%- unless settings.cart_button_text == 'visible' -%}
                          {%- if enable_compare or full_on_mobile != true -%}
                            <span class="{{ cartTextClasses }}">{{ "products.product.add_to_cart" | t }}</span>
                            {%- render 'icon-cart-in-card', add_classes: cartIconClasses -%}
                          {%- else -%}
                            <span>{{ "products.product.add_to_cart" | t }}</span>
                          {%- endif -%}
                        {%- else -%}  
                          <span>{{ "products.product.add_to_cart" | t }}</span>  
                        {%- endunless -%}
                        <div class="loading-overlay__spinner hidden">
                          {%- render 'icon-cart-loading' -%}
                        </div>
                      </button>
                    {%- endform -%}
                  </product-form>
                {%- else -%}
                  <quick-add-drawer-opener class="quick-button quick-button--add{% unless enable_compare %} flex-grow-1{% endunless %}">
                    <button
                      id="{{ product_form_id }}-submit"
                      type="submit"
                      name="add"
                      class="quick-add__submit button cart-submit-button button--medium{% unless enable_compare %} w100{% endunless %}"
                      aria-haspopup="dialog"
                      aria-label="{{ "products.product.add_to_cart" | t | escape }}"
                      data-product-url="{{ card_product.url }}"
                    >
                      {%- unless settings.cart_button_text == 'visible' -%}
                        {%- if enable_compare or full_on_mobile != true -%}
                          <span class="{{ cartTextClasses }}">{{ "products.product.add_to_cart" | t }}</span>
                          {%- render 'icon-cart-in-card', add_classes: cartIconClasses -%}
                        {%- else -%}
                          <span>{{ "products.product.add_to_cart" | t }}</span>
                        {%- endif -%}
                      {%- else -%}  
                        <span>{{ "products.product.add_to_cart" | t }}</span>  
                      {%- endunless -%}
                      <div class="loading-overlay__spinner hidden">
                        {%- render 'icon-cart-loading' -%}
                      </div>
                    </button>
                  </quick-add-drawer-opener>
                {%- endif -%}
              {%- else -%}
                <div class="quick-button quick-button--add{% unless enable_compare %} flex-grow-1{% endunless %}">
                  <button
                    type="button"
                    name="add"
                    class="quick-add__submit button button--medium{% unless enable_compare %} w100{% endunless %}"
                    aria-haspopup="dialog"
                    aria-label="{{ "products.product.add_to_cart" | t | escape }}"
                    aria-live="polite"
                    data-sold-out-message="true"
                    disabled
                  >
                    {%- unless settings.cart_button_text == 'visible' -%}
                      {%- if enable_compare or full_on_mobile != true -%}
                        <span class="{{ cartTextClasses }}">{{ "products.product.add_to_cart" | t }}</span>
                        {%- render 'icon-cart-in-card', add_classes: cartIconClasses -%}
                      {%- else -%}
                        <span>{{ "products.product.add_to_cart" | t }}</span>
                      {%- endif -%}
                    {%- else -%}  
                      <span>{{ "products.product.add_to_cart" | t }}</span>  
                    {%- endunless -%}
                  </button>
                </div>  
              {%- endif -%}
            {%- endif -%}  
            {%- if enable_compare -%}
              <compare-add-button class="flex por">
                <button type="button" class="compare-add-button compare-add-button--in-grid por flex justify-right align-center unstyled-button tap-area-icon" data-product-id="{{ card_product.id | escape }}" aria-label="{{ 'templates.compare.add_button' | t: product_title: card_product.title | escape }}">
                  <span class="por">
                    {%- render 'icon-compare' -%}
                    <span class="compare-added-check flex justify-center align-center{% if show_quick_add %} compare-added-check--left{% endif %}">
                      <svg class="icon icon-checkmark" width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 4.00002L3.83333 6.33335L8.5 1.66669" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </span>
                  </span>
                </button>
              </compare-add-button>
            {%- endif -%}  
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- else -%}
  <div class="card-wrapper card-wrapper--product por h100">
    <div class="card card--product{% if allow_effect %} appear-animate-item-in-list{% endif %}"
    >
      <div class="card__inner w100">
        <div class="media{% if media_aspect_ratio == 'adapt' %} media--square{% else %} media--{{ media_aspect_ratio | default: 'square' }}{% endif %}">
          {{ placeholder_image | default: 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      </div>
      <div class="card__content card__content--product">
        <div class="card__information">
          {%- if show_vendor -%}
            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
            <div class="caption light card__vendor">{{ 'products.product.vendor' | t }}</div>
          {%- endif -%}
          <h3 class="card__heading card__heading--product {% if full_on_mobile %}card__heading--product-large{% else %}card__heading--product-small{% endif %}">
            <a role="link" aria-disabled="true" class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </h3>
          <div class="card-information w100">
            {% render 'price', show_in_card: true %}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}