{%- liquid 
  assign blocks = blocks_index | split: ','
-%}
{%- for block_index in blocks -%}
  {%- assign block_index_number = block_index | plus: 0 -%}
  {%- assign block = section.blocks[block_index_number] -%}
  {%- if block.settings.text != blank -%}
    <span class="header__menu-badge heading-font font-heading-bold{% if is_in_drawer %} header__menu-badge--in-drawer{% endif %}" style="color:{{ block.settings.text_color }};background:{{ block.settings.background_color }};border-color:{{ block.settings.background_color }};" {{ block.shopify_attributes }}>
      {{ block.settings.text }}
    </span>
  {%- endif -%}  
{%- endfor -%}