{%- if settings.predictive_search_enabled -%}
  <predictive-search class="db por predictive-search">
{%- endif -%}  
  <form action="{{ routes.search_url }}" method="get" role="search" class="search search--header flex w100 por">
    <input class="search__input search__input--header w100 color-foreground"
      id="Search-In-{{ suffix_id }}"
      type="search"
      name="q"
      value=""
      placeholder="{{ 'general.search.search' | t }}"
      {%- if settings.predictive_search_enabled -%}
        role="combobox"
        aria-expanded="false"
        aria-haspopup="listbox"
        aria-autocomplete="list"
        autocorrect="off"
        autocomplete="off"
        autocapitalize="off"
        spellcheck="false"
      {%- endif -%}
    >
    <label class="field__label visually-hidden" for="Search-In-{{ suffix_id }}">{{ 'general.search.search' | t }}</label>
    <input type="hidden" name="options[prefix]" value="last">
    <button class="search__button search__button--header field__button light flex justify-center align-center overflow-hidden" aria-label="{{ 'general.search.search' | t }}">
      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation" width="24" height="24">
        <use href="#icon-search">
      </svg>
    </button>
  </form>
{%- if settings.predictive_search_enabled -%}
    <div data-predictive-search{% if section.settings.logo_position != 'top-left' %} class="predictive-search__full"{% endif %} tabindex="-1">
      <div class="predictive-search__results"></div>
      <div class="predictive-search__loading-state"></div>
    </div>
    <div class="predictive-search__overlay"></div>
  </predictive-search>
{%- endif -%}