{%- if block.settings.brand_enable or block.settings.stock_enable or block.settings.sku_enable or block.settings.tags_enable or block.settings.collections_enable -%}
  <div class="information-wrapper product__info-box" {{ block.shopify_attributes }}>
    {%- if block.settings.brand_enable -%}
      <div class="information flex">
        <span class="information__label text-small db">{{ block.settings.brand_label }}:</span>
        <a href="{{ product.vendor | url_for_vendor }}" class="information__value font-body-semi-bold text-small link link-effect-no-underline">{{ product.vendor }}</a>
      </div>
    {%- endif -%}
    {%- if block.settings.stock_enable -%}
      <div class="information flex">
        <span class="information__label text-small db">{{ block.settings.stock_label }}:</span>
        <span class="information__value font-body-semi-bold text-small inventory-{{ section.id }}">
          {%- liquid
          if product.selected_or_first_available_variant.inventory_management == 'shopify'
            if product.selected_or_first_available_variant.inventory_quantity > 0
              if product.selected_or_first_available_variant.inventory_quantity <= block.settings.inventory_threshold
                if block.settings.show_inventory_quantity
                  echo 'products.product.inventory_low_stock_show_count' | t: quantity: product.selected_or_first_available_variant.inventory_quantity
                else
                  echo 'products.product.inventory_low_stock' | t
                endif
              else
                if block.settings.show_inventory_quantity
                  echo 'products.product.inventory_in_stock_show_count' | t: quantity: product.selected_or_first_available_variant.inventory_quantity
                else
                  echo 'products.product.inventory_in_stock' | t
                endif
              endif
            else
              if product.selected_or_first_available_variant.inventory_policy == 'continue'
                echo 'products.product.inventory_out_of_stock_continue_selling' | t
              else
                echo 'products.product.inventory_out_of_stock' | t
              endif
            endif
          endif
          -%}
        </span>
      </div>
    {%- endif -%}
    {%- if block.settings.sku_enable -%}
      <div class="information flex">
        <span class="information__label text-small db">{{ block.settings.sku_label }}:</span>
        <span class="information__value font-body-semi-bold text-small sku-{{ section.id }}">{{ product.selected_or_first_available_variant.sku }}</span>
      </div>
    {%- endif -%} 
    {%- if block.settings.tags_enable and product.tags.size > 0 -%}
      <div class="information w100">
        <span class="information__label text-small db">{{ block.settings.tags_label }}:</span>
        <div class="information__value font-body-semi-bold text-small">
          <ul class="list-unstyled flex flex-wrap">
            {%- for tag in product.tags -%}
              <li>
                <a
                  class="link information__value--link link-effect-no-underline{% if forloop.first %} first{% endif %}"
                  href="{{ routes.all_products_collection_url }}/{{ tag | handleize }}"
                >
                  {{- tag -}}
                </a>{%- unless forloop.last -%},{%- endunless -%}
              </li>
            {%- endfor -%}  
          </ul>
        </div>
      </div>
    {%- endif -%} 
    {%- if block.settings.collections_enable and product.collections.size > 0 -%}
      <div class="information flex">
        <span class="information__label text-small">{{ block.settings.collections_label }}:</span>
        <div class="information__value font-body-semi-bold text-small">
          <ul class="list-unstyled flex flex-wrap">
            {%- for p_collection in product.collections -%}
              <li><a href="{{ p_collection.url }}" title="{{ p_collection.title | escape }}" class="link information__value--link link-effect-no-underline{% if forloop.first %} first{% endif %}">{{ p_collection.title }}{%- unless forloop.last -%},{%- endunless -%}</a></li>
            {%- endfor -%}  
          </ul>
        </div>
      </div>
    {%- endif -%}   
  </div>
{%- endif -%}