{% assign popups = section.blocks | where: "type", "popup" %}
{%- for block in popups -%}
  <modal-dialog id="PopupModal-{{ block.id }}" class="popup-modal" {{ block.shopify_attributes }}>
    <div role="dialog" aria-label="{{ block.settings.text }}" aria-modal="true" class="popup-modal__content" tabindex="-1">
      <button id="ModalClose-{{ block.id }}" type="button" class="popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
      <div class="popup-modal__content-info">
        <h1 class="h2">{{ block.settings.page.title }}</h1>
        <div class="rte element-small-margin-top">
          {{ block.settings.page.content }}
        </div>  
      </div>
    </div>
  </modal-dialog>
{%- endfor -%}