{%- capture direction -%}{%- render 'direction' -%}{%- endcapture -%}
<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}" dir="{{ direction }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- liquid
      assign body_font = settings.type_body_font
      assign heading_font = settings.type_header_font
      assign body_font_bold_weight = body_font.weight | plus: 300 | at_most: 1000 | append: ''
      assign body_font_bold = body_font | font_modify: 'weight', body_font_bold_weight
      unless body_font_bold
        assign body_font_bold = body_font | font_modify: 'weight', 'bold'
      endunless
      assign body_font_italic = body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
      if settings.auto_generate_font_weight
        assign body_font_medium_weight = body_font.weight | plus: 100 | at_most: 600 | at_least: body_font.weight | append: ''
        assign body_font_medium = body_font | font_modify: 'weight', body_font_medium_weight

        assign body_font_large_weight = body_font.weight | plus: 200 | at_most: 600 | at_least: body_font.weight | append: ''
        assign body_font_large = body_font | font_modify: 'weight', body_font_large_weight
        
        assign heading_font_bold_weight = heading_font.weight | plus: 300 | at_most: 1000 | append: ''
        assign heading_font_bold = heading_font | font_modify: 'weight', heading_font_bold_weight
        unless heading_font_bold
          assign heading_font_bold = heading_font | font_modify: 'weight', 'bold'
        endunless
        
        assign heading_font_medium_weight = heading_font.weight | plus: 100 | at_most: 600 | at_least: heading_font.weight | append: ''
        assign heading_font_medium = heading_font | font_modify: 'weight', heading_font_medium_weight
        
        assign heading_font_semi_bold_weight = heading_font.weight | plus: 200 | at_most: 600 | at_least: heading_font.weight | append: ''
        assign heading_font_semi_bold = heading_font | font_modify: 'weight', heading_font_semi_bold_weight
      else
        assign body_font_medium = body_font
        assign body_font_large = body_font
        
        assign heading_font_bold = heading_font
        
        assign heading_font_medium = heading_font
        
        assign heading_font_semi_bold = heading_font
      endif  
    %}

    {% # theme-check-disable AssetPreload %}
    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ body_font | font_url }}" type="font/woff2" crossorigin>
      {%- if body_font != body_font_bold -%}
        <link rel="preload" as="font" href="{{ body_font_bold | font_url }}" type="font/woff2" crossorigin>
      {%- endif -%}
    {%- endunless -%}

    {%- unless settings.type_header_font.system? -%}
      {%- if heading_font != body_font and heading_font != body_font_bold -%}
        <link rel="preload" as="font" href="{{ heading_font | font_url }}" type="font/woff2" crossorigin>
      {%- endif -%}
      {%- if heading_font_bold != body_font_bold and heading_font_bold != body_font and heading_font_bold != heading_font -%}
        <link rel="preload" as="font" href="{{ heading_font_bold | font_url }}" type="font/woff2" crossorigin>
      {%- endif -%}
    {%- endunless -%}
    {% # theme-check-enable AssetPreload %}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {%- render 'meta-tags' -%}

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_url: '{{ routes.cart_url }}',
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
        search_url: '{{ routes.search_url }}',
        product_recommendations_url: '{{ routes.product_recommendations_url }}'
      };

      window.photoswipeUrls = {
        lib: '{{ "photoswipe.umd.min.js" | asset_url }}',
        loaded: false
      };

      window.hasQuickAddDrawer = {% if request.design_mode and request.page_type == 'product' %}true{% else %}false{% endif %};
      window.hasQuickViewModal = {% if request.design_mode and request.page_type == 'product' %}true{% else %}false{% endif %};

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`,
        success: `{{ 'sections.cart.cart_success' | t }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        copyToClipboard: `{{ 'general.share.copy_to_clipboard' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
        {%- if request.design_mode -%}countdownErrorMsg: `{{ 'general.countdown.error_msg' | t }}`,{%- endif -%}
        countdownExpiredMsg: `{{ 'general.countdown.expired_msg' | t }}`
      };

      {%- if settings.recently_viewed_enable -%}
        window.recentlyViewedStrings = {
          empty: {{ 'general.floating_bar.recently_viewed_empty' | t | json }}
        };
      {%- endif -%}  

      {%- if settings.enable_product_compare -%}
        window.addedCompareStrings = {
          success: {{ 'templates.compare.success' | t | json }}
        };
      {%- endif -%}  

      {%- if settings.free_shipping_enable -%}
        window.freeShippingBarExcludeProducts = {%- if settings.free_shipping_exclude_products != blank and settings.free_shipping_exclude_products.count > 0 -%}{{ settings.free_shipping_exclude_products | map: 'id' | json }}{%- else -%}[]{%- endif -%};
      {%- endif -%}

      window.moneyFormat = {% unless settings.currency_code_enabled %}{{ shop.money_format | json }}{% else %}{{ shop.money_with_currency_format | json }}{% endunless %};
      window.loadedBackgroundColorSwatches = {%- if request.design_mode -%}true{%- else -%}false{%- endif -%};
      window.currencyMain = {{ shop.currency | json }};
    </script>

    {{ content_for_header }}

    <script src="{{ 'critical-global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'motion.min.js' | asset_url }}" defer="defer"></script>
    
    {%- render 'critical-inline-styles', body_font: body_font, body_font_bold: body_font_bold, body_font_medium: body_font_medium, body_font_large: body_font_large, body_font_italic: body_font_italic, body_font_bold_italic: body_font_bold_italic, heading_font: heading_font, heading_font_bold: heading_font_bold, heading_font_medium: heading_font_medium, heading_font_semi_bold: heading_font_semi_bold, only_variables: false, direction: direction -%}

    {{ 'critical-base.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'section-password.css' | asset_url | stylesheet_tag }}
    {{ 'component-list-social.css' | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="password gradient">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>
      {% section 'main-password-footer' %}
    </footer>

    <template id="countdown-tpl">
      {%- render 'countdown-tpl' -%}
    </template>

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {%- if settings.enable_appear_effect or request.design_mode -%}
      <script src="{{ 'appear-animate.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if request.design_mode -%}
      <script src="{{ 'truncate-text.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    <script src="{{ 'parallax-element.js' | asset_url }}" defer="defer"></script>

    {%- if request.design_mode -%}
      <script src="{{ 'slideshow.js' | asset_url }}" defer="defer"></script>  
      <script src="{{ 'before-after-image-slider.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'scrolling-text.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    
    <toast-message-manager></toast-message-manager>

    {%- render 'icon-close', add_classes: 'hidden icon-close-sample' -%}

    <link rel="stylesheet" href="{{ 'base.css' | asset_url }}" media="print" onload="this.media='all'">
    <noscript>
      {{ 'base.css' | asset_url | stylesheet_tag }}
      {{ 'no-js.css' | asset_url | stylesheet_tag }}
    </noscript>
  </body>
</html>
