{%- if cart != empty -%}
  {%- for item in cart.items -%}
    <div id="cart-notification-product-{{ item.key }}" class="cart-notification__item cart-item">
      <div class="cart-item__media" role="cell">
        {% if item.image %}
          {%- if settings.enable_appear_effect -%}
            <use-animate class="skeleton-box">
          {%- endif -%}  
          {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
          <a href="{{ item.url }}" class="cart-item__link flex media media--square" tabindex="-1" aria-hidden="true">
            <img class="cart-item__image"
              src="{{ item.image | image_url: width: 300 }}"
              alt="{{ item.image.alt | escape }}"
              loading="lazy"
              width="{{ item.image.width }}"
              height="{{ item.image.height }}"
              {% if settings.enable_appear_effect %}
                onload="this.closest('.skeleton-box').classList.remove('skeleton-box')"
              {% endif %}
            >
          </a>
          {%- if settings.enable_appear_effect -%}
            </use-animate>
          {%- endif -%}
        {% endif %}
      </div>

      <div class="cart-item__details" role="cell">
        {%- if section.settings.show_vendor -%}
          <p class="caption light cart-item__vendor">{{ item.product.vendor }}</p>
        {%- endif -%}

        <a href="{{ item.url }}" class="cart-item__name h6 link link--text font-heading-bold">{{ item.product.title | escape }}</a>

        {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
          <dl>
            {%- if item.product.has_only_default_variant == false -%}
              {%- for option in item.options_with_values -%}
                <div class="product-option light">
                  <dt>{{ option.name }}: </dt>
                  <dd>{{ option.value }}</dd>
                </div>
              {%- endfor -%}
            {%- endif -%}

            {%- for property in item.properties -%}
              {%- assign property_first_char = property.first | slice: 0 -%}
              {%- if property.last != blank and property_first_char != '_' -%}
                <div class="product-option light">
                  <dt>{{ property.first }}: </dt>
                  <dd>
                    {%- if property.last contains '/uploads/' -%}
                      <a href="{{ property.last }}" class="link" target="_blank" aria-describedby="a11y-new-window-message">
                        {{ property.last | split: '/' | last }}
                      </a>
                    {%- else -%}
                      {{ property.last }}
                    {%- endif -%}
                  </dd>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </dl>

          <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
        {%- endif -%}

        <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
          {%- for discount in item.discounts -%}
            <li class="discounts__discount">
              {%- render 'icon-discount' -%}
              {{ discount.title }}
            </li>
          {%- endfor -%}
        </ul>
      </div>

      <div class="cart-notification__quantity-price flex flex-column" role="cell">
        <div class="cart-notification__quantity flex caption">
          <span>{{ 'sections.cart.headings.quantity' | t }}:</span>
          <span>{{ item.quantity }}</span>
        </div>
        <div class="cart-item__price-wrapper">
          {%- if item.original_line_price != item.final_line_price -%}
            <div class="cart-item__discounted-prices price--small font-body-semi-bold">
              <span class="visually-hidden">
                {{ 'products.product.price.regular_price' | t }}
              </span>
              <s class="cart-item__old-price product-option">
                {%- render 'price-format', price: item.original_line_price -%}
              </s>
              <span class="visually-hidden">
                {{ 'products.product.price.sale_price' | t }}
              </span>
              <strong class="cart-item__final-price product-option">
                {%- render 'price-format', price: item.final_line_price -%}
              </strong>
            </div>
          {%- else -%}
          <span class="price price--small font-body-semi-bold">
            {%- render 'price-format', price: item.original_line_price -%}
          </span>
          {%- endif -%}

          {%- if item.variant.available and item.unit_price_measurement -%}
            <div class="unit-price caption">
              <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
              {{ item.variant.unit_price | money }}
              <span aria-hidden="true">/</span>
              <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
              {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                {{- item.variant.unit_price_measurement.reference_value -}}
              {%- endif -%}
              {{ item.variant.unit_price_measurement.reference_unit }}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endfor -%}
{%- endif -%}