{{ 'columns-with-images.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="custom-section__container">
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>
    <div class="columns-with-images-section">
      <div class="section-content">
        <h2>{{ section.settings.section_title }}</h2>
        <p>{{ section.settings.section_text }}</p>
      </div>
      <div class="columns-with-images">
        {% for block in section.blocks %}
          <div class="column-with-image_wrapper">
             <div class="column-with-image">
              <img src="{{ block.settings.image | img_url: 'medium' }}" width="" height="" alt="{{ block.settings.image.alt }}">
              <div class="column-with-image_text-block">
                <h3>{{ block.settings.title }}</h3>
                <p>{{ block.settings.text }}</p>
              </div>
             <div class="column-with-image_hidden-text">
               <p>{{ block.settings.hidden-text }}</p>
             </div>
             </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}

{
  "name": "👾Columns with images",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    },
    {
      "type": "textarea",
      "id": "section_text",
      "label": "Section Text"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "textarea",
          "id": "hidden-text",
          "label": "Hidden Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "👾Columns with images"
    }
  ]
}

{% endschema %}
