{%- capture direction -%}{%- render 'direction' -%}{%- endcapture -%}
<link rel="stylesheet" href="{{ 'section-gallery.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-gallery.css' | asset_url | stylesheet_tag }}</noscript>
{%- if section.settings.flexible_columns_layout contains '2cols' -%}
  <link rel="stylesheet" href="{{ 'component-extra-grid-tablet-up.css' | asset_url }}" media="all and (min-width:750px)">
{%- endif -%}  
{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign columns_tablet_int = section.settings.columns_tablet | plus: 0
  assign show_tablet_slider = false
  if section.settings.flexible_columns_layout == 'carousel' and section.blocks.size > columns_tablet_int
    assign show_tablet_slider = true
  endif

  assign show_desktop_slider = false
  if section.settings.flexible_columns_layout == 'carousel' and section.blocks.size > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif
  if settings.enable_appear_effect
    assign image_wrap_tag = 'use-animate'
  else
    assign image_wrap_tag = 'div'
  endif

  if section.settings.flexible_columns_layout contains '2cols'
    assign extra_columns_tablet_int = columns_tablet_int | plus: 2
    assign extra_columns_desktop_int = section.settings.columns_desktop | plus: 2
  endif

  assign radius_classes = ''
  unless section.settings.disable_item_space
    assign radius_classes = ' overflow-hidden gallery__item-radius-' | append: section.id
  endunless
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  {%- unless section.settings.disable_item_space -%}
    .gallery__item-radius-{{ section.id }} {
      border-radius: 1.6rem;
    }
  {%- endunless -%}  

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  {%- for block in section.blocks -%}
    {%- if block.settings.heading != blank or block.settings.button_label != blank or block.settings.text != blank -%}
      .gallery__item__content--{{ section.id }}-{{ block.id }} {
        --color-caption: {{ block.settings.caption_color.red }}, {{ block.settings.caption_color.green }}, {{ block.settings.caption_color.blue }};
        --color-foreground: {{ block.settings.heading_color.red }}, {{ block.settings.heading_color.green }}, {{ block.settings.heading_color.blue }};
        {%- if block.type == 'text-overlay-image' -%}
          --color-background: {{ block.settings.overlay_color.red }}, {{ block.settings.overlay_color.green }}, {{ block.settings.overlay_color.blue }};
          --color-background-opacity: {{ block.settings.overlay_opacity | divided_by: 100.00 }};
        {%- endif -%}
        {%- case block.settings.button_style -%}
          {%- when 'primary' -%}
            --color-button-text: {{ block.settings.button_foreground.red }}, {{ block.settings.button_foreground.green }}, {{ block.settings.button_foreground.blue }};
            --color-button: {{ block.settings.button_background.red }}, {{ block.settings.button_background.green }}, {{ block.settings.button_background.blue }};
          {%- when 'secondary' -%}
            --color-button-outline: {{ block.settings.button_foreground.red }}, {{ block.settings.button_foreground.green }}, {{ block.settings.button_foreground.blue }};
            --color-button-text-outline: {{ block.settings.button_background.red }}, {{ block.settings.button_background.green }}, {{ block.settings.button_background.blue }};
          {%- else -%}
            --color-link: {{ block.settings.button_background.red }}, {{ block.settings.button_background.green }}, {{ block.settings.button_background.blue }};
        {%- endcase -%}  
      }
    {%- endif -%}  
  {%- endfor -%}

  {%- render 'section-heading-styles' -%}
{%- endstyle -%}

{%- capture sizes -%}
  {% unless section.settings.full_width %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: section.settings.columns_desktop }}px, {% endunless %}(min-width: 990px) calc((100vw - 130px) / {{ section.settings.columns_desktop }}), (min-width: 750px) calc((100vw - 120px) / {{ section.settings.columns_tablet }}), calc((100vw - 35px) / {{ section.settings.columns_mobile }})
{%- endcapture -%}

<div class="section-{{ section.id }}-padding{% unless section.settings.enable_section_box_layout %} color-{{ section.settings.color_scheme }} gradient isolate{% unless section.settings.full_width %} page-width{% endunless %}{% else %} page-width{% if section.settings.full_width %}--full{% endif %}{% endunless %}">
  {%- if  section.settings.enable_section_box_layout -%}
    <div class="section__box color-{{ section.settings.color_scheme }} gradient isolate">
  {%- endif -%}  
    {%- if section.settings.title != blank -%}
      {%- unless section.settings.enable_section_box_layout -%}
        <div class="page-width{% if section.settings.full_width %}--full{% endif %}">
          {%- render 'section-heading', show_desktop_slider: show_desktop_slider, show_tablet_slider: show_tablet_slider, show_mobile_slider: show_mobile_slider -%}
        </div>
      {%- else -%}
        {%- render 'section-heading', show_desktop_slider: show_desktop_slider, show_tablet_slider: show_tablet_slider, show_mobile_slider: show_mobile_slider -%}  
      {%- endunless -%}  
    {%- endif -%}
    <div class="gallery">
      <slider-component class="por slider-mobile-gutter{% unless section.settings.enable_section_box_layout %}{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if section.settings.full_width == false %} page-width{% endif %}{% if show_desktop_slider and section.settings.full_width == false %} page-width-desktop{% endif %}{% endunless %}{% if show_desktop_slider %} slider-component-desktop{% endif %}{% if show_tablet_slider %} slider-component-tablet{% endif %}{% if show_mobile_slider %} slider-component-mobile{% endif %}"
        {% if show_mobile_slider or show_tablet_slider or show_desktop_slider %}{% if section.settings.title != blank %}data-outside-prev-button-id="Slider-{{ section.id }}-prev-button" data-outside-next-button-id="Slider-{{ section.id }}-next-button"{% endif %}{% endif %}>
        <ul id="Slider-{{ section.id }}" class="grid grid--{{ section.settings.columns_tablet }}-col-tablet 
          grid--{{ section.settings.columns_desktop }}-col-desktop
          grid--{{ section.settings.columns_mobile }}-col
          {% if show_mobile_slider or show_tablet_slider or show_desktop_slider %} slider
          {% if section.settings.full_width %} grid--peek{% endif %}
          {% if show_desktop_slider %} slider--desktop{% endif %}
          {% if show_tablet_slider %} slider--tablet{% endif %}
          {% if show_mobile_slider %} slider--mobile{% endif %}{% endif %}
          {% if section.settings.disable_item_space %} grid--gapless{% endif %}
          {% if section.settings.flexible_columns_layout contains '2cols' %} grid--extra-equal{% endif %}" 
          role="list" aria-label="{{ 'sections.gallery.list' | t }}">
          {%- for block in section.blocks -%}
            {%- liquid
              assign ratio = 1
              if section.settings.image_ratio == 'portrait'
                assign ratio = 0.8
              elsif section.settings.image_ratio == 'landscape'
                assign ratio = 1.5
              elsif section.settings.image_ratio == 'adapt' and block.settings.image != blank
                assign ratio = block.settings.image.aspect_ratio
              endif
              if ratio == 0 or ratio == nil
                assign ratio = 1
              endif
              assign has_wrapper_link = false
              if block.settings.link != blank and block.settings.heading == blank and block.settings.button_label == blank
                assign has_wrapper_link = true
              endif
              assign default_item_label = 'sections.gallery.item_id_label' | t: item_number: forloop.index
              assign item_label = block.settings.heading | default: default_item_label
              assign extra_grid_item_classes = ''
              if section.settings.flexible_columns_layout contains '2cols'
                assign item_index_tablet = forloop.index | modulo: extra_columns_tablet_int
                assign item_index_desktop = forloop.index | modulo: extra_columns_desktop_int
                if section.settings.flexible_columns_layout == '2cols-in-odd-row'
                  if item_index_tablet > 0 and item_index_tablet <= 2
                    assign extra_grid_item_classes = extra_grid_item_classes | append: ' grid__item--extra-tablet'
                  endif
                  if item_index_desktop > 0 and item_index_desktop <= 2
                    assign extra_grid_item_classes = extra_grid_item_classes | append: ' grid__item--extra-desktop'
                  endif  
                else
                  if item_index_tablet == 0 or item_index_tablet > columns_tablet_int
                    assign extra_grid_item_classes = extra_grid_item_classes | append: ' grid__item--extra-tablet'
                  endif
                  if item_index_desktop == 0 or item_index_desktop > columns_tablet_int
                    assign extra_grid_item_classes = extra_grid_item_classes | append: ' grid__item--extra-desktop'
                  endif
                endif
              endif
              assign has_heading_line_mobile = false
              assign has_heading_line_tablet = false
              assign has_heading_line_desktop = false
              if block.settings.heading != blank and block.settings.text != blank
                if section.settings.columns_mobile == '1'
                  assign has_heading_line_mobile = true
                endif
                if section.settings.columns_tablet != '4' or section.settings.flexible_columns_layout contains '2cols'
                  assign has_heading_line_tablet = true
                endif
                if section.settings.columns_desktop >= 4 or section.settings.flexible_columns_layout contains '2cols'
                  assign has_heading_line_desktop = true
                endif
              endif
            -%}
            <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="gallery__item grid__item{% if section.settings.auto_fit %} flex-grow-1{% endif %}{% if show_mobile_slider or show_tablet_slider or show_desktop_slider %} slider__slide{% endif %}{{ extra_grid_item_classes }}" {{ block.shopify_attributes }}>
              <div class="card-wrapper por{% unless block.type == 'text-outside-image' %}{{ radius_classes }}{% endunless %}">
                {%- if has_wrapper_link -%}
                  <a class="full-unstyled-link{% if block.settings.vertical_alignment == 'top' %} gallery__item__inner--flex{% elsif block.settings.vertical_alignment != 'bottom' %} por{% endif %}" href="{{ block.settings.link }}"
                    {% unless block.settings.heading %}
                      aria-label="{% if block.settings.image != blank %}{{ block.settings.image.alt | default: item_label | escape }}{% else %}{{ item_label | escape }}{% endif %}"
                    {% endunless %}>
                {%- elsif block.settings.vertical_alignment != 'bottom' -%}
                  <div class="{% if block.settings.vertical_alignment == 'top' %}gallery__item__inner--flex{% else %}por{% endif %}">    
                {%- endif -%}  
                <{{ image_wrap_tag }} class="media media--hover-effect ratio w100{% if block.settings.vertical_alignment == 'top' or block.settings.vertical_alignment == 'bottom' %} margin-{{ block.settings.vertical_alignment }}-1rem{% endif %}{% if block.type == 'text-outside-image' %}{{ radius_classes }}{% endif %}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%">
                  {%- if block.settings.image != blank -%}
                    {% unless extra_grid_item_classes != '' %}
                      {{
                        block.settings.image
                        | image_url: width: 1420
                        | image_tag: loading: 'lazy', sizes: sizes, widths: '275, 550, 750, 1070, 1420'
                      }}
                    {% else %}
                      {% capture custom_sizes %}(min-width: 750px) calc((100vw - 120px) / 2), calc((100vw - 35px) / {{ section.settings.columns_mobile }}){% endcapture %}
                      {{
                        block.settings.image
                        | image_url: width: 1420
                        | image_tag: loading: 'lazy', sizes: custom_sizes, widths: '275, 550, 750, 1070, 1420'
                      }}
                    {% endunless %}
                  {%- else -%}  
                    {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg placeholder w100 h100' }}
                  {%- endif -%}
                </{{ image_wrap_tag }}>
                {%- if block.settings.heading != blank or block.settings.button_label != blank or block.settings.text != blank -%}
                  <div class="gallery__item__content gallery__item__content--{{ section.id }}-{{ block.id }} flex w100 h100 justify-{{ block.settings.horizontal_alignment }} {% if block.settings.vertical_alignment == 'top' or block.settings.vertical_alignment == 'bottom' %}gallery__item__content--{{ block.settings.vertical_alignment }}{% else %}gallery__item__content--inside align-{{ block.settings.vertical_alignment }}{% if columns_tablet_int >= 4 %} gallery__item__content--inside-small-tablet{% endif %}{% if section.settings.columns_desktop > 5 %} gallery__item__content--inside-small-desktop{% endif %}{% endif %}{% if block.settings.keep_ltr and direction == 'rtl' %} direction-ltr{% endif %}">
                    <div class="gallery__item__content-inner break {{ block.settings.horizontal_alignment }}">
                      {%- if block.settings.text != blank and block.settings.text_style == 'caption-with-letter-spacing' -%}
                        <span class="gallery__item__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} color-foreground">{{ block.settings.text | escape }}</span>
                        {%- if has_heading_line_mobile or has_heading_line_tablet or has_heading_line_desktop -%}
                          <hr class="gallery__item__line  gallery__item__line--{{ block.settings.horizontal_alignment }}{% unless has_heading_line_desktop %} large-up-hide{% endunless %}{% unless has_heading_line_tablet %} medium-hide{% endunless %}{% unless has_heading_line_mobile %} small-hide{% endunless %}">
                        {%- endif -%}  
                      {%- endif -%}
                      {%- if block.settings.heading != blank -%}  
                        <h3 class="card__heading {{ block.settings.heading_size }}{% if block.settings.heading_uppercase %} uppercase{% endif %} font-heading-bold">
                          {%- if block.settings.link != blank and block.settings.button_label == blank -%}
                            <a class="full-unstyled-link" href="{{ block.settings.link }}">
                              {{ block.settings.heading }}
                            </a>
                          {%- else -%}
                            {{ block.settings.heading }}  
                          {%- endif -%}
                        </h3>
                      {%- endif -%}
                      {%- if block.settings.text != blank and block.settings.text_style == 'subtitle' -%}
                        {%- if has_heading_line_mobile or has_heading_line_tablet or has_heading_line_desktop -%}
                          <hr class="gallery__item__line gallery__item__line--{{ block.settings.horizontal_alignment }}{% unless has_heading_line_desktop %} large-up-hide{% endunless %}{% unless has_heading_line_tablet %} medium-hide{% endunless %}{% unless has_heading_line_mobile %} small-hide{% endunless %}">
                        {%- endif -%}  
                        <span class="gallery__item__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} color-foreground db">{{ block.settings.text | escape }}</span>
                      {%- endif -%}
                      {%- if block.settings.button_label != blank -%}
                        <a href="{{ block.settings.link | default: '#' }}" class="{% if block.settings.button_style != 'link' %}button button--{{ block.settings.button_size }} button--{{ block.settings.button_style }} button--semi-bold{% else %}link link-with-icon link-effect-no-underline align-center font-body-semi-bold{% endif %}{% if block.settings.text != blank or block.settings.heading != blank %} margin-top-1rem{% endif %}{% if block.settings.button_pin_bottom and block.settings.vertical_alignment != 'bottom' %} gallery__pin-button gallery__pin-button--{{ block.settings.horizontal_alignment }}{% endif %}">
                          <span>{{ block.settings.button_label }}</span>
                          {%- if block.settings.button_style == 'link' -%}{%- render 'icon-picker', icon: 'chevron_double_right', icon_width: 12 -%}{%- endif -%}
                        </a>
                      {%- endif -%}
                    </div>  
                  </div>
                {%- endif -%}  
                {%- if has_wrapper_link -%}
                  </a>
                {%- elsif block.settings.vertical_alignment != 'bottom' -%}
                  </div>  
                {%- endif -%}
              </div>    
            </li>
          {%- endfor -%}
        </ul>
        {%- if show_mobile_slider or show_tablet_slider or show_desktop_slider -%}
          {%- if section.settings.title == blank -%}
            {%- render 'slider-controls', suffix_id: section.id, total_items: section.blocks.size, hide_counter: true, wrapper_classes: 'small-margin-top slider-buttons--box' -%}
          {%- endif -%}
        {%- endif -%}
      </slider-component>
    </div>
  {%- if  section.settings.enable_section_box_layout -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.gallery.name",
  "tag": "section",
  "class": "section",
  "max_blocks": 16,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Gallery",
      "label": "t:sections.gallery.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "flexible_columns_layout",
      "label": "t:sections.gallery.settings.flexible_columns_layout.label",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.gallery.settings.flexible_columns_layout.options_1.label"
        },
        {
          "value": "2cols-in-odd-row",
          "label": "t:sections.gallery.settings.flexible_columns_layout.options_2.label"
        },
        {
          "value": "2cols-in-even-row",
          "label": "t:sections.gallery.settings.flexible_columns_layout.options_3.label"
        },
        {
          "value": "carousel",
          "label": "t:sections.gallery.settings.flexible_columns_layout.options_4.label"
        }
      ],
      "info": "t:sections.gallery.settings.flexible_columns_layout.info",
      "default": "grid"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 7,
      "step": 1,
      "default": 4,
      "label": "t:sections.gallery.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "columns_tablet",
      "label": "t:sections.all.columns_tablet.label",
      "options": [
        {
          "value": "2",
          "label": "t:sections.all.columns_tablet.options__1.label"
        },
        {
          "value": "3",
          "label": "t:sections.all.columns_tablet.options__2.label"
        },
        {
          "value": "4",
          "label": "t:sections.all.columns_tablet.options__3.label"
        }
      ],
      "default": "3"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.gallery.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "auto_fit",
      "label": "t:sections.gallery.settings.auto_fit.label",
      "info": "t:sections.gallery.settings.auto_fit.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_item_space",
      "label": "t:sections.gallery.settings.disable_item_space.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_section_box_layout",
      "label": "t:sections.all.enable_section_box_layout.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.gallery.settings.card_header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:sections.all.image_ratio.label",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.image_ratio.option_1.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.image_ratio.option_2.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image_ratio.option_3.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.image_ratio.option_4.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.gallery.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.gallery.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.gallery.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.gallery.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.gallery.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "text-overlay-image",
      "name": "t:sections.gallery.blocks.image.name_overlay",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.gallery.blocks.image.settings.image.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.gallery.blocks.image.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "keep_ltr",
          "label": "t:sections.all.keep_ltr_content_direction.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.gallery.blocks.image.settings.text_header.content"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.gallery.blocks.image.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.gallery.blocks.image.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.gallery.blocks.image.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.gallery.blocks.image.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.gallery.blocks.image.settings.text_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.gallery.blocks.image.settings.text_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.gallery.blocks.image.settings.text_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.gallery.blocks.image.settings.text_size.label"
        },
        {
          "type": "header",
          "content": "t:sections.gallery.blocks.image.settings.heading_header.content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.gallery.blocks.image.settings.heading.label",
          "default": "Our collection"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h4",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "checkbox",
          "id": "heading_uppercase",
          "label": "t:sections.gallery.blocks.image.settings.heading_uppercase.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.gallery.blocks.image.settings.button_header.content"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.gallery.blocks.image.settings.button_label.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.gallery.blocks.image.settings.button_style.label",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.gallery.blocks.image.settings.button_style.options_1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.gallery.blocks.image.settings.button_style.options_2.label"
            },
            {
              "value": "link",
              "label": "t:sections.gallery.blocks.image.settings.button_style.options_3.label"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "t:sections.gallery.blocks.image.settings.button_size.label",
          "info": "t:sections.gallery.blocks.image.settings.button_size.info",
          "options": [
            {
              "value": "small",
              "label": "t:sections.gallery.blocks.image.settings.button_size.options_1.label"
            },
            {
              "value": "normal",
              "label": "t:sections.gallery.blocks.image.settings.button_size.options_2.label"
            }
          ],
          "default": "normal"
        },
        {
          "type": "checkbox",
          "id": "button_pin_bottom",
          "label": "t:sections.gallery.blocks.image.settings.button_pin_bottom.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.gallery.blocks.image.settings.content_alignment_header.content"
        },
        {
          "type": "text_alignment",
          "id": "horizontal_alignment",
          "label": "t:sections.gallery.blocks.image.settings.horizontal_alignment.label",
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertical_alignment",
          "label": "t:sections.gallery.blocks.image.settings.vertical_alignment.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.gallery.blocks.image.settings.vertical_alignment.option_1.label"
            },
            {
              "value": "center",
              "label": "t:sections.gallery.blocks.image.settings.vertical_alignment.option_2.label"
            },
            {
              "value": "end",
              "label": "t:sections.gallery.blocks.image.settings.vertical_alignment.option_3.label"
            }
          ],
          "default": "center"
        },
        {
          "type": "header",
          "content": "t:sections.gallery.blocks.image.settings.colors_header.content"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "t:sections.gallery.blocks.image.settings.heading_color.label",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "caption_color",
          "label": "t:sections.gallery.blocks.image.settings.caption_color.label",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_foreground",
          "label": "t:sections.gallery.blocks.image.settings.button_foreground.label",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "t:sections.gallery.blocks.image.settings.button_background.label",
          "info": "t:sections.gallery.blocks.image.settings.button_background.info",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "t:sections.gallery.blocks.image.settings.overlay_color.label",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "t:sections.gallery.blocks.image.settings.overlay_opacity.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50
        }
      ]
    },
    {
      "type": "text-outside-image",
      "name": "t:sections.gallery.blocks.image.name_outside",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.gallery.blocks.image.settings.image.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.gallery.blocks.image.settings.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.gallery.blocks.image.settings.text_header.content"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.gallery.blocks.image.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.gallery.blocks.image.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.gallery.blocks.image.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.gallery.blocks.image.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.gallery.blocks.image.settings.text_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.gallery.blocks.image.settings.text_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.gallery.blocks.image.settings.text_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.gallery.blocks.image.settings.text_size.label"
        },
        {
          "type": "header",
          "content": "t:sections.gallery.blocks.image.settings.heading_header.content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.gallery.blocks.image.settings.heading.label",
          "default": "Our collection"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h4",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "checkbox",
          "id": "heading_uppercase",
          "label": "t:sections.gallery.blocks.image.settings.heading_uppercase.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.gallery.blocks.image.settings.button_header.content"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.gallery.blocks.image.settings.button_label.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.gallery.blocks.image.settings.button_style.label",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.gallery.blocks.image.settings.button_style.options_1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.gallery.blocks.image.settings.button_style.options_2.label"
            },
            {
              "value": "link",
              "label": "t:sections.gallery.blocks.image.settings.button_style.options_3.label"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "t:sections.gallery.blocks.image.settings.button_size.label",
          "info": "t:sections.gallery.blocks.image.settings.button_size.info",
          "options": [
            {
              "value": "small",
              "label": "t:sections.gallery.blocks.image.settings.button_size.options_1.label"
            },
            {
              "value": "normal",
              "label": "t:sections.gallery.blocks.image.settings.button_size.options_2.label"
            }
          ],
          "default": "normal"
        },
        {
          "type": "header",
          "content": "t:sections.gallery.blocks.image.settings.content_alignment_header.content"
        },
        {
          "type": "text_alignment",
          "id": "horizontal_alignment",
          "label": "t:sections.gallery.blocks.image.settings.horizontal_alignment.label",
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertical_alignment",
          "label": "t:sections.gallery.blocks.image.settings.vertical_alignment.label",
          "options": [
            {
              "value": "top",
              "label": "t:sections.gallery.blocks.image.settings.vertical_alignment.option_0.label"
            },
            {
              "value": "bottom",
              "label": "t:sections.gallery.blocks.image.settings.vertical_alignment.option_4.label"
            }
          ],
          "default": "bottom"
        },
        {
          "type": "header",
          "content": "t:sections.gallery.blocks.image.settings.colors_header.content"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "t:sections.gallery.blocks.image.settings.heading_color.label",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "caption_color",
          "label": "t:sections.gallery.blocks.image.settings.caption_color.label",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_foreground",
          "label": "t:sections.gallery.blocks.image.settings.button_foreground.label",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "t:sections.gallery.blocks.image.settings.button_background.label",
          "info": "t:sections.gallery.blocks.image.settings.button_background.info",
          "default": "#000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.gallery.presets.name",
      "blocks": [
        {
          "type": "text-overlay-image"
        },
        {
          "type": "text-overlay-image"
        },
        {
          "type": "text-overlay-image"
        },
        {
          "type": "text-overlay-image"
        }
      ]
    }
  ]
}
{% endschema %}