{%-liquid
  assign hide_section = false
  if section.settings.image == blank and section.settings.hide_when_empty_image and request.design_mode == false
    assign hide_section = true
  endif
  assign need_preload = section.settings.preload
  if section.index == 1 and section.location != 'footer'
    assign need_preload = true
  endif
-%}
{%- unless hide_section -%}
  {{ 'component-image-with-text.css' | asset_url | stylesheet_tag: preload: need_preload }}
  {%- assign text_block = section.blocks | where: "type", "text" -%}
  {%- if text_block.size > 0 -%}
    <link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
    <noscript>
      {{ 'component-rte.css' | asset_url | stylesheet_tag }}
    </noscript>
  {%- endif -%}
  <link rel="stylesheet" href="{{ 'component-countdown.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'countdown.js' | asset_url }}" defer="defer"></script>
  {%- capture direction -%}{%- render 'direction' -%}{%- endcapture -%}
  {%-liquid
    assign radius_type = 'full'
    if section.settings.second_image == blank and section.settings.content_layout == 'no-overlap'
      assign has_background_container = false
      if section.settings.gradient_background_container != blank
        assign has_background_container = true
      elsif section.settings.background_container and section.settings.background_container.alpha > 0
        assign has_background_container = true
      endif
      assign has_diff_background = has_background_container
      if has_background_container and section.settings.background_image_section == blank
        unless section.settings.gradient_background_section != blank
          if section.settings.background_section and section.settings.background_section == section.settings.background_container and section.settings.background_section.alpha == section.settings.background_container.alpha
            assign has_diff_background = false
          endif
        endunless
      endif
      if has_diff_background
        assign radius_type = 'half'
      endif
    endif
  -%}

  {%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
      --color-background: {{ section.settings.background_section.red }}, {{ section.settings.background_section.green }}, {{ section.settings.background_section.blue }};
      --gradient-background: {{ section.settings.gradient_background_section | default: section.settings.background_section }};
      {%- if section.settings.gradient_heading != blank -%}--gradient-heading: {{ section.settings.gradient_heading }};{%- endif -%}
      {%- if section.settings.grid_layout == 'full_bleed' -%}
        --border-radius: 0;
      {%- endif -%}
      {%- if section.settings.background_image_section != blank -%}
        --focal-point:{{ section.settings.background_image_section.presentation.focal_point }};
        {%- if section.settings.overlay_color != blank and section.settings.overlay_color.alpha > 0 -%}
          --color-overlay: {{ section.settings.overlay_color.red }}, {{ section.settings.overlay_color.green }}, {{ section.settings.overlay_color.blue }};
        {%- endif -%}
      {%- endif -%} 
      {%- if section.settings.content_layout == 'no-overlap' -%}
        {%- unless section.settings.grid_layout == 'full_bleed' -%}
          {%- if radius_type == 'full' -%}
            --border-radius-content: 1.6rem;
            --border-radius-media: 1.6rem;
          {%- else -%}
            --border-radius-content: 0 0 1.6rem 1.6rem;
            --border-radius-media: 1.6rem 1.6rem 0 0;
          {%- endif -%}
        {%- else -%}
          --border-radius-content: 0;
          --border-radius-media: 0;   
        {%- endunless -%} 
      {%- elsif section.settings.content_layout == 'overlap' -%}
        --border-radius-content: 1.6rem;
        {%- unless section.settings.grid_layout == 'full_bleed' -%}
          --border-radius-media: 1.6rem;
        {%- else -%}
          --border-radius-media: 0;  
        {%- endunless -%}      
      {%- else -%}
        {%- unless section.settings.grid_layout == 'full_bleed' -%}
          --border-radius-content: 1.6rem;
          --border-radius-media: 1.6rem;
        {%- else -%}
          --border-radius-content: 0;
          --border-radius-media: 0;  
        {%- endunless -%}      
      {%- endif -%}  
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        {%-liquid
          if section.settings.content_layout == 'no-overlap'
            unless section.settings.grid_layout == 'full_bleed'
              if radius_type != 'full'
                unless direction == 'rtl'
                  if section.settings.layout == 'text_first'
                    echo "--border-radius-content: 1.6rem 0 0 1.6rem;"
                    echo "--border-radius-media: 0 1.6rem 1.6rem 0;"
                  else
                    echo "--border-radius-content: 0 1.6rem 1.6rem 0;"
                    echo "--border-radius-media: 1.6rem 0 0 1.6rem;"
                  endif
                else
                  if section.settings.layout == 'text_first'
                    echo "--border-radius-content: 0 1.6rem 1.6rem 0;"
                    echo "--border-radius-media: 1.6rem 0 0 1.6rem;"
                  else
                    echo "--border-radius-content: 1.6rem 0 0 1.6rem;"
                    echo "--border-radius-media: 0 1.6rem 1.6rem 0;"
                  endif  
                endunless    
              endif
            else
              unless direction == 'rtl'
                if radius_type == 'full'  
                  if section.settings.layout == 'text_first'
                    echo "--border-radius-media: 1.6rem 0 0 1.6rem;"
                  else
                    echo "--border-radius-media: 0 1.6rem 1.6rem 0;"
                  endif  
                endif
              else
                if radius_type == 'full'  
                  if section.settings.layout == 'text_first'
                    echo "--border-radius-media: 0 1.6rem 1.6rem 0;"
                  else
                    echo "--border-radius-media: 1.6rem 0 0 1.6rem;"
                  endif  
                endif  
              endunless  
            endunless
          else
            if section.settings.grid_layout == 'full_bleed'
              unless direction == 'rtl'
                if section.settings.layout == 'text_first'
                  echo "--border-radius-content: 0 1.6rem 1.6rem 0;"
                  echo "--border-radius-media: 1.6rem 0 0 1.6rem;"
                else
                  echo "--border-radius-content: 1.6rem 0 0 1.6rem;"
                  echo "--border-radius-media: 0 1.6rem 1.6rem 0;"
                endif  
              else
                if section.settings.layout == 'text_first'
                  echo "--border-radius-content: 1.6rem 0 0 1.6rem;"
                  echo "--border-radius-media: 0 1.6rem 1.6rem 0;"
                else
                  echo "--border-radius-content: 0 1.6rem 1.6rem 0;"
                  echo "--border-radius-media: 1.6rem 0 0 1.6rem;"
                endif    
              endunless  
            endif 
          endif   
        -%}
      }
    }
  {%- endstyle -%}

  <parallax-element class="db image-with-text image-with-text--{{ section.settings.content_layout }} isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %} section-{{ section.id }}-padding gradient{% if section.settings.background_image_section != blank and section.settings.overlay_color != blank and section.settings.overlay_color.alpha > 0 %} background-overlay{% endif %}{% if section.settings.background_image_section != blank %} overflow-hidden{% endif %}"{% if section.settings.background_image_section != blank and section.settings.enable_parallax_scrolling_effect %} data-speed="0.5" style="--speed: 0.5;"{% endif %}{% unless section.settings.background_image_section != blank and section.settings.enable_parallax_scrolling_effect %} data-turn-off="true"{% endunless %}>
    {%- if section.settings.background_image_section != blank -%}
      {%- assign image_height = section.settings.background_image_section.width | divided_by: section.settings.background_image_section.aspect_ratio -%}
      <appear-animate-single class="parallax-inner w100 h100 db media media--background">
        {{ section.settings.background_image_section | image_url: width: 1500 | image_tag:
          loading: 'lazy',
          width: section.settings.background_image_section.width,
          height: image_height,
          sizes: '100vw',
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
        }}
      </appear-animate-single>
    {%- endif -%}
    <div class="{% if section.settings.grid_layout contains 'grid' %}page-width{% if section.settings.grid_layout == 'stretched_grid' %}--full{% endif %}{% endif %}">
      <appear-animate-list class="image-with-text__grid grid{% unless section.settings.content_layout == 'separate' %} grid--gapless{% endunless %} grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}">
        <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }}{% if section.settings.second_image != blank %} image-with-text__media-item--two-images flex align-center{% endif %} grid__item{% if section.settings.desktop_image_width == 'large' %} flex-grow-1{% endif %}">
          {%- if section.settings.second_image != blank -%}<div class="image-with-text__media-item__one-in-two">{%- endif -%}
            <div class="image-with-text__media image-with-text__media--radius image-with-text__media--{{ section.settings.height }} global-media-settings {% if section.settings.image != blank %}media media--transparent{% else %}image-with-text__media--placeholder placeholder color-foreground{% endif %} appear-animate-item-in-list"{% if section.settings.image == blank %} style="--color-foreground:{{ section.settings.color_heading.red }}, {{ section.settings.color_heading.green }}, {{ section.settings.color_heading.blue }};"{% endif %}
              {% if section.settings.height == 'adapt' and section.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}
            >
              {%- if section.settings.image != blank -%}
                {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | divided_by: 3 | times: 2 | at_least: 1100 }}px, (min-width: 750px) calc(100vw * 0.67), 100vw{%- endcapture -%}
                {%- unless need_preload -%}
                  {{ section.settings.image | image_url: width: 1500 | image_tag:
                    loading: 'lazy',
                    sizes: sizes,
                    widths: '165, 360, 535, 700, 875, 1070, 1500'
                  }}
                {%- else -%}  
                  {{ section.settings.image | image_url: width: 1500 | image_tag:
                    preload: true,
                    fetchpriority: 'high',
                    sizes: sizes,
                    widths: '165, 360, 535, 700, 875, 1070, 1500'
                  }}
                {%- endunless -%}  
              {%- else -%}
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg w100 h100' }}
              {%- endif -%}
            </div>
          {%- if section.settings.second_image != blank -%}</div>{%- endif -%}

          {%- if section.settings.second_image != blank -%}
            {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 3 | times: 2 | at_least: 1100 }}px, (min-width: 750px) calc(100vw * 0.67), 100vw{%- endcapture -%}
            <div class="image-with-text__media-item__one-in-two">
              <div class="image-with-text__media image-with-text__media--radius image-with-text__media--{{ section.settings.height }} global-media-settings media media--transparent gradient appear-animate-item-in-list"
                {% if section.settings.height == 'adapt' and section.settings.second_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.second_image.aspect_ratio | times: 100 }}%;"{% endif %}
              >
                {%- unless need_preload -%}
                  {{ section.settings.second_image | image_url: width: 1500 | image_tag:
                    loading: 'lazy',
                    sizes: sizes,
                    widths: '165, 360, 535, 875, 1070, 1500'
                  }}
                {%- else -%}  
                  {{ section.settings.second_image | image_url: width: 1500 | image_tag:
                    loading: 'eager',
                    sizes: sizes,
                    widths: '165, 360, 535, 875, 1070, 1500'
                  }}
                {%- endunless -%}  
              </div>
            </div>
          {%- endif -%}  
        </div>
        <div class="image-with-text__text-item grid__item{% if section.settings.desktop_image_width == 'small' %} flex-grow-1{% endif %}" style="--color-background:{{ section.settings.background_container.red }}, {{ section.settings.background_container.green }}, {{ section.settings.background_container.blue }};--gradient-background:{{ section.settings.gradient_background_container | default: section.settings.background_container }};">
          <div id="ImageWithText--{{ section.id }}" class="image-with-text__content image-with-text__content--radius image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} gradient appear-animate-item-in-list">
            {%- for block in section.blocks -%}
              {% case block.type %}
                {%- when 'heading' -%}
                  <h2 class="image-with-text__heading {{ block.settings.heading_size }} {% if section.settings.gradient_heading != blank %}image-with-text__heading--gradient{% else %}color-foreground{% endif %}{% if block.settings.enable_bold_heading %} image-with-text__heading--bold{% endif %} break lh1"{% if section.settings.color_heading != blank and section.settings.gradient_heading == blank %} style="--color-foreground:{{ section.settings.color_heading.red }}, {{ section.settings.color_heading.green }}, {{ section.settings.color_heading.blue }};"{% endif %} {{ block.shopify_attributes }}>
                    {{ block.settings.heading | escape }}
                  </h2>
                {%- when 'caption' -%}
                  <p class="image-with-text__text image-with-text__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} color-foreground"{% if section.settings.color_caption != blank %} style="--color-foreground:{{ section.settings.color_caption.red }}, {{ section.settings.color_caption.green }}, {{ section.settings.color_caption.blue }};"{% endif %} {{ block.shopify_attributes }}>{{ block.settings.caption | escape }}</p>
                {%- when 'text' -%}
                  <div class="image-with-text__text rte {{ block.settings.text_style }} color-foreground"{% if section.settings.color_text != blank %} style="--color-foreground:{{ section.settings.color_text.red }}, {{ section.settings.color_text.green }}, {{ section.settings.color_text.blue }};"{% endif %} {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
                {%- when 'button' -%}
                  {%- if block.settings.button_label != blank -%}
                    <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="{% unless block.settings.button_style == 'link' %}button button--{{ block.settings.button_style }} button--medium{% else %}link link-with-icon link-effect-no-underline align-center{% endunless %}" style="{% if block.settings.button_style == 'solid' %}--color-button:{{ section.settings.color_button.red }}, {{ section.settings.color_button.green }}, {{ section.settings.color_button.blue }};--color-button-text:{{ section.settings.color_button_text.red }}, {{ section.settings.color_button_text.green }}, {{ section.settings.color_button_text.blue }};{% else %}--color-button-text-outline:{{ section.settings.color_button.red }}, {{ section.settings.color_button.green }}, {{ section.settings.color_button.blue }};--color-link:var(--color-button-text-outline);{% endif %}" {{ block.shopify_attributes }}>
                      {%- unless block.settings.button_style == 'link' -%}
                        <span>{{ block.settings.button_label | escape }}</span>
                      {%- else -%}
                        {{ block.settings.button_label | escape }}
                        {%- render 'icon-picker', icon: 'chevron_double_right', icon_width: 12 -%}
                      {%- endunless -%}  
                    </a>
                  {%- endif -%}
                {%- when 'highlight_text' -%}
                  <h3 class="image-with-text__heading {{ block.settings.text_size }} color-foreground break"{% if section.settings.color_highlight_text != blank %} style="--color-foreground:{{ section.settings.color_highlight_text.red }}, {{ section.settings.color_highlight_text.green }}, {{ section.settings.color_highlight_text.blue }};"{% endif %} {{ block.shopify_attributes }}>
                    {{ block.settings.text | escape }}
                  </h3>
                {%- when 'countdown' -%}
                  {%- if block.settings.date != blank -%}
                    <count-down data-endtime="{{ block.settings.date }}" data-timezone="{{ 'now' | date: '%z' }}" data-expired-msg="{{ block.settings.expiration_message | escape }}" class="countdown countdown-simple" data-has-own-tpl="true" {{ block.shopify_attributes }}
                      {% if section.settings.color_countdown != blank %} style="--color-foreground:{{ section.settings.color_countdown.red }}, {{ section.settings.color_countdown.green }}, {{ section.settings.color_countdown.blue }};"{% endif %}>
                      {%- render 'countdown-tpl-simple' -%}
                    </count-down>
                  {%- elsif request.design_mode -%}
                    <div class="countdown countdown-simple" {{ block.shopify_attributes }}
                      {% if section.settings.color_countdown != blank %} style="--color-foreground:{{ section.settings.color_countdown.red }}, {{ section.settings.color_countdown.green }}, {{ section.settings.color_countdown.blue }};"{% endif %}>
                      {%- render 'countdown-tpl-simple', use_design_mode: true -%}
                    </div>
                  {%- endif -%}  
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </appear-animate-list>
    </div>  
  </parallax-element>
{%- endunless -%}
{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "grid_layout",
      "options": [
        {
          "value": "full_bleed",
          "label": "t:sections.all.grid_layout.options_1.label"
        },
        {
          "value": "stretched_grid",
          "label": "t:sections.all.grid_layout.options_2.label"
        },
        {
          "value": "grid",
          "label": "t:sections.all.grid_layout.options_3.label"
        }
      ],
      "default": "grid",
      "label": "t:sections.all.grid_layout.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "second_image",
      "label": "t:sections.image-with-text.settings.second_image.label"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label",
      "info": "t:sections.image-with-text.settings.desktop_image_width.info"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.image-with-text.settings.desktop_content_position.label"
    },
    {
      "type": "text_alignment",
      "id": "desktop_content_alignment",
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
        },
        {
          "value": "separate",
          "label": "t:sections.image-with-text.settings.content_layout.options__3.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.image-with-text.settings.content_layout.label"
    },
    {
      "type": "checkbox",
      "id": "hide_when_empty_image",
      "label": "t:sections.all.hide_when_empty_image.label",
      "info": "t:sections.all.hide_when_empty_image.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "preload",
      "label": "t:sections.image-with-text.settings.preload.label",
      "default": false
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "text_alignment",
      "id": "mobile_content_alignment",
      "default": "left",
      "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:settings_schema.colors.name"
    },
    {
      "type": "color",
      "id": "color_heading",
      "default": "#000",
      "label": "t:sections.image-with-text.blocks.heading.name"
    },
    {
      "type": "color_background",
      "id": "gradient_heading",
      "label": "t:sections.image-with-text.settings.gradient_heading.label"
    },
    {
      "type": "color",
      "id": "color_text",
      "default": "#000",
      "label": "t:sections.image-with-text.blocks.text.name"
    },
    {
      "type": "color",
      "id": "color_highlight_text",
      "default": "#DA2127",
      "label": "t:sections.image-with-text.blocks.highlight_text.name"
    },
    {
      "type": "color",
      "id": "color_caption",
      "default": "#000",
      "label": "t:sections.image-with-text.blocks.caption.name"
    },
    {
      "type": "color",
      "id": "color_countdown",
      "default": "#000",
      "label": "t:sections.image-with-text.blocks.countdown.name"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "default": "#fff",
      "label": "t:sections.image-with-text.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button",
      "default": "#000",
      "label": "t:sections.image-with-text.settings.color_button.label",
      "info": "t:sections.image-with-text.settings.color_button.info"
    },
    {
      "type": "color",
      "id": "background_container",
      "default": "#fff",
      "label": "t:sections.image-with-text.settings.background_container.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background_container",
      "label": "t:sections.image-with-text.settings.gradient_background_container.label"
    },
    {
      "type": "color",
      "id": "background_section",
      "default": "#fff",
      "label": "t:sections.image-with-text.settings.background_section.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background_section",
      "label": "t:sections.image-with-text.settings.gradient_background_section.label"
    },
    {
      "type": "image_picker",
      "id": "background_image_section",
      "label": "t:sections.all.background_image_section.label"
    },
    {
      "type": "checkbox",
      "id": "enable_parallax_scrolling_effect",
      "label": "t:sections.all.enable_parallax_scrolling_effect.label",
      "info": "t:sections.all.enable_parallax_scrolling_effect.info_for_background",
      "default": true
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:sections.image-with-text.settings.overlay_color.label",
      "info": "t:sections.image-with-text.settings.overlay_color.info",
      "default": "#1E40AF"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image with text",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "checkbox",
          "id": "enable_bold_heading",
          "label": "t:sections.image-with-text.blocks.heading.settings.enable_bold_heading.label",
          "default": true
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.image-with-text.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.image-with-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
            },
            {
              "value": "image-with-text__badge",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__3.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "highlight_text",
      "name": "t:sections.image-with-text.blocks.highlight_text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Add a highlight text",
          "label": "t:sections.image-with-text.blocks.highlight_text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.image-with-text.blocks.highlight_text.settings.size.label"
        }
      ]
    },
    {
      "type": "countdown",
      "name": "t:sections.image-with-text.blocks.countdown.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "date",
          "label": "t:sections.image-with-text.blocks.countdown.settings.date.label",
          "info": "t:sections.image-with-text.blocks.countdown.settings.date.info"
        },
        {
          "type": "text",
          "id": "expiration_message",
          "label": "t:sections.all.expiration_message.label",
          "info": "t:sections.all.expiration_message.info"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.button_style.option_1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button_style.option_2.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.button_style.option_3.label"
            }
          ],
          "default": "solid",
          "label": "t:sections.all.button_style.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
