{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  {%- render 'section-heading-styles' -%}
{%- endstyle -%}
{{ 'section-main-product-attributes.css' | asset_url | stylesheet_tag }}
<div class="{% unless section.settings.enable_section_box_layout %}color-{{ section.settings.color_scheme }} gradient isolate{% else %}section-{{ section.id }}-padding page-width{% endunless %}">
  <div class="{% unless section.settings.enable_section_box_layout %}section-{{ section.id }}-padding page-width{% else %}color-{{ section.settings.color_scheme }} gradient isolate section__box{% endunless %}">
    {%- render 'section-heading' -%}
    <div class="product-attributes">
      {%- if section.settings.show_description and product.description != blank -%}
				<div class="product__description rte quick-add-hidden">
					{{ product.description }}
				</div>
			{%- endif -%}
			{%- if section.blocks.size > 0 -%}
        {%- liquid
          assign current_variant = product.selected_or_first_available_variant
          assign has_dynamic_attributes = false
          if product.variants.size > 1
            assign skus = section.blocks | where: "type", "product_sku"
            assign weights = section.blocks | where: "type", "product_weight"
            if skus.size > 0 or weights.size > 0
              assign has_dynamic_attributes = true
            endif
          endif
        -%}
				
				<{% if has_dynamic_attributes %}product-attributes-table{% else %}div{% endif %} class="product-attributes__table grid grid--1-col grid--2-col-tablet grid--3-col-desktop{% if section.settings.show_description and product.description != blank %} element-margin-top{% endif %}{% if section.settings.table_color_scheme != section.settings.color_scheme %} color-{{ section.settings.table_color_scheme }} gradient product-attributes__table--padding{% endif %}" data-section="{{ section.id }}" data-url="{{ product.url }}">
					{%- for block in section.blocks -%}
            {%- if block.type != 'specifications' -%}
              <div class="grid__item" {{ block.shopify_attributes }}>
                <div class="product-attributes__table-item flex flex-column">
                  <h3 class="product-attributes__table-item__title margin0 font-heading-bold h5">{{ block.settings.title | capitalize }}</h3>
                  <div class="product-attributes__table-item__content text-medium margin-top-1rem product-attributes__tablet-item-light">
                    {%-liquid
                      case block.type
                        when 'product_brand'
                        if product.vendor != blank
                          assign vendor_url = product.vendor | url_for_vendor
                          echo '<a class="link link-effect-no-underline" href="' | append: vendor_url | append: '">'
                          echo product.vendor | capitalize
                          echo '</a>'
                        elsif request.design_mode
                          echo 'products.product.vendor' | t | capitalize
                        endif
                      when 'product_type'
                        if product.type != blank
                          assign type_url = product.type | url_for_type
                          echo '<a class="link link-effect-no-underline" href="' | append: type_url | append: '">'
                          echo product.type | capitalize
                          echo '</a>'
                        endif
                      when 'product_sku'
                        if current_variant.sku != blank
                          echo current_variant.sku
                        endif
                      when 'product_weight'
                        if current_variant.weight != blank
                          echo current_variant.weight | weight_with_unit
                        endif	
                      when 'product_text'
                        if block.settings.content != blank
                          echo block.settings.content
                        endif	
                      endcase
                    -%}
									</div>
                </div>
              </div>
            {%- else -%}  
              {%-liquid 
                assign has_content = false
                assign block_content = ''
              -%}
              {%- if block.settings.metafields != blank -%}
                {%- capture block_content -%}
                  {%- assign metafields_array = block.settings.metafields | split: ',' -%}
                  {%- if metafields_array.size > 0 -%}
                    <ul class="product-attributes__table-item__specifications-list grid grid--1-col grid--2-col-tablet grid--3-col-desktop">
                      {%- for field in metafields_array -%}
                        {%-liquid
                          assign splits = field | split: ':'
                          if splits.size == 1
                            assign pair = field | replace: ' ', '' | split: '.'
                          else
                            assign pair = splits[1] | replace: ' ', '' | split: '.'
                          endif
                        -%}
                        {%- if pair.size >= 2 -%}
                          {%-liquid
                            assign namespace = pair[0]
                            assign key = pair[1]
                            if splits.size == 1
                              assign item_label = key | replace: '_', ' ' | capitalize
                            else
                              assign item_label = splits[0] | strip
                            endif 
                          -%}
                          {%- if product.metafields[namespace][key] != blank or request.design_mode -%}
                            <li class="grid__item">
                              {%- assign has_content = true -%}
                              <h4 class="db font-heading-bold margin0 margin-bottom-1rem h5">{{ item_label | replace: '_', ' ' }}</h4>
                              <div class="rte{% if product.metafields[namespace][key].type != 'file_reference' %} product-attributes__tablet-item-light{% endif %}">
                                {%- unless product.metafields[namespace][key].type == 'boolean' -%}
                                  {%- unless product.metafields[namespace][key].type contains 'list.' and product.metafields[namespace][key].type != 'list.single_line_text_field' -%}
                                    {% unless product.metafields[namespace][key].type contains 'metaobject_reference' %}
                                      {{ product.metafields[namespace][key] | metafield_tag }}
                                    {% else %}
                                      {{ product.metafields[namespace][key].value[pair[2]] }}
                                    {% endunless %}  
                                  {%- else -%}  
                                    <ul>
                                      {%- for field in product.metafields[namespace][key].value -%}
                                        <li>
                                          {%- if product.metafields[namespace][key].type contains 'product_reference' or product.metafields[namespace][key].type contains 'variant_reference' -%}
                                            <a href="{{ field.url }}">{{ field.title }}</a>
                                          {%- elsif product.metafields[namespace][key].type contains 'metaobject_reference' -%}  
                                            {{ field[pair[2]] }}  
                                          {%- else -%}
                                            {{ field }}
                                          {%- endif -%}
                                        </li>
                                      {%- endfor -%}  
                                    </ul>
                                  {%- endunless -%}  
                                {%- else -%}
                                  {%- if product.metafields[namespace][key].value == true -%}
                                    {{ 'general.boolean.true' | t }}
                                  {%- else -%}
                                    {{ 'general.boolean.false' | t }}
                                  {%- endif -%}    
                                {%- endunless -%}   
                              </div>
                            </li>
                          {%- endif -%}
                        {%- endif -%}
                      {%- endfor -%}
                    </ul>  
								{%- endif -%}
                {%- endcapture -%}
              {%- endif -%}  
              {%-liquid
                assign is_display = has_content
                if request.design_mode and block.settings.title != blank and is_display == false
                  assign is_display = true
                endif
              -%}
              {%- if is_display -%}
                <div class="grid__item product-attributes__table__specifications" {{ block.shopify_attributes }}>
                  <div class="product-attributes__table-item">
                    <div class="flex w100 align-center">
                      <h3 class="margin0 product-attributes__table-item__title--specifications flex align-center">
                        {{ block.settings.title | capitalize }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path d="M8.00016 2.49994V13M8.00016 13L12.6668 8.33335M8.00016 13L3.3335 8.33335" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </h3>
                      <hr class="margin0 flex-grow-1">
                    </div>
                    <div class="product-attributes__table-item__content product-attributes__table-item__content--specifications text-medium">
                      {{ block_content }}
									</div>	
									</div>	
									</div>	
								{%- endif -%}	
            {%- endif -%}  
					{%- endfor -%}	
				</{% if has_dynamic_attributes %}product-attributes-table{% else %}div{% endif %}>
        {%- if has_dynamic_attributes -%}
          <script src="{{ 'component-product-attributes-table.js' | asset_url }}" defer="defer"></script>
        {%- endif -%}  
			{%- endif -%}	
    </div>
  </div>
</div>
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>
  {{ 'component-rte.css' | asset_url | stylesheet_tag }}
</noscript>
{% schema %}
{
  "name": "t:sections.main-product-attributes.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "product_brand",
      "name": "t:sections.main-product-attributes.blocks.product_brand.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-product-attributes.blocks.product_brand.settings.title.label",
          "default": "Brand"
        }
      ],
      "limit": 1
    },
    {
      "type": "product_type",
      "name": "t:sections.main-product-attributes.blocks.product_type.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-product-attributes.blocks.product_type.settings.title.label",
          "default": "Type"
        }
      ],
      "limit": 1
    },
    {
      "type": "product_sku",
      "name": "t:sections.main-product-attributes.blocks.product_sku.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-product-attributes.blocks.product_sku.settings.title.label",
          "default": "SKU"
        }
      ],
      "limit": 1
    },
    {
      "type": "product_weight",
      "name": "t:sections.main-product-attributes.blocks.product_weight.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-product-attributes.blocks.product_weight.settings.title.label",
          "default": "Weight"
        }
      ],
      "limit": 1
    },
    {
      "type": "product_text",
      "name": "t:sections.main-product-attributes.blocks.product_text.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-product-attributes.blocks.product_text.settings.title.label",
          "default": "Dimensions"
        },
        {
          "type": "inline_richtext",
          "id": "content",
          "label": "t:sections.main-product-attributes.blocks.product_text.settings.content.label"
        }
      ]
    },
    {
      "type": "specifications",
      "name": "t:sections.main-product-attributes.blocks.specifications.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-product-attributes.blocks.specifications.settings.title.label",
          "default": "Technical specs"
        },
        {
          "type": "text",
          "id": "metafields",
          "label": "t:sections.main-product-attributes.blocks.specifications.settings.metafields.label",
          "info": "t:sections.main-product-attributes.blocks.specifications.settings.metafields.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:sections.main-product-attributes.settings.show_description.label",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "default": "Product information",
      "label": "t:sections.main-product-attributes.settings.title.label"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "t:sections.main-product-attributes.settings.subtitle.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "enable_section_box_layout",
      "label": "t:sections.all.enable_section_box_layout.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "inverse",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "color_scheme",
      "id": "table_color_scheme",
      "default": "background-1",
      "label": "t:sections.main-product-attributes.settings.table_color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-product-attributes.presets.name",
      "blocks": [
        {
          "type": "product_brand"
        },
        {
          "type": "product_type"
        }
      ]
    }
  ],
  "templates": [
    "product"
  ]
}
{% endschema %}