{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{%-liquid
  assign collection_icons = section.blocks | where: "type", 'collection_icon'
  assign dynamic_sub_collection_size = 0
  assign banner_image = section.settings.title_background_image | default: settings.page_heading_collection_banner_image
  if settings.page_heading_use_collection_image and collection.image
    assign banner_image = collection.image
  endif  
  assign has_transparent = false
  assign valid_order = false
  if section.index == 1 or request.design_mode
    assign valid_order = true
  endif
  if section.settings.enable_transparent_header and banner_image != blank and valid_order
    assign has_transparent = true
  endif
  if section.settings.collection_tree_data != blank
    unless collection.handle == 'all'
      assign current_root = section.settings.collection_tree_data.links | where: "current" | first
      if current_root == null
        assign child_current_root = section.settings.collection_tree_data.links | where: 'child_current' | first
        if child_current_root != null
          assign current_root = child_current_root.links | where: 'current' | first
        endif
      endif
      if current_root != nil
        assign dynamic_sub_collections = current_root.links | where: 'type', 'collection_link'
        assign dynamic_sub_collection_size = dynamic_sub_collections.size
      endif
    else
      assign dynamic_sub_collections = section.settings.collection_tree_data.links | where: 'type', 'collection_link'
      assign dynamic_sub_collection_size = dynamic_sub_collections.size
    endunless
  endif
  assign subcollection_icons = section.blocks | where: 'type', 'subcollection_icon'
  assign total_item_size = collection_icons.size | plus: dynamic_sub_collection_size
  assign sub_icons_str = ''
  if dynamic_sub_collection_size > 0 and subcollection_icons.size > 0
    for sub_icon in subcollection_icons
      if sub_icon.settings.collection != blank
        assign compare_index = ':' | append: sub_icon.settings.collection.id | append: '=' | append: forloop.index0 | append: ';'
        unless sub_icons_str contains compare_index
          assign sub_icons_str = sub_icons_str | append: compare_index
        endunless
      endif
    endfor
  endif
-%}
{%-liquid
  if has_transparent 
    render 'header-assets-transparent', text_color_transparent: section.settings.text_color_transparent
  endif
-%}
{%- style -%}
  .section-{{ section.id }} {
    --extra-height: {%- if total_item_size > 0 -%}4{%- else -%}0{%- endif -%}rem;
  } 
  
  {%- if total_item_size > 0 -%}
    .collection-icon-wrapper {
      margin-top: calc(-4rem - var(--extra-height));
      z-index: 1;
      margin-bottom: 1rem;
    }
    .collection-icon {
      --horizontal-spacing: 2rem;
      --vertical-spacing: 1.5rem;
      padding: var(--vertical-spacing) var(--horizontal-spacing);
      box-shadow: 0 0.1rem 0.3rem rgb(var(--color-foreground), 0.1), 0px 1px 2px rgb(var(--color-foreground), 0.06);
      border-radius: 1.2rem;
    }
    .collection-icon__slider {
      scroll-padding-inline-start: var(--horizontal-spacing);
      scroll-padding-inline-end: var(--horizontal-spacing);
    }
    .collection-icon__item {
      gap: 1.4rem;
    }
    .collection-icon__item .icon {
      opacity: 0.7;
    }
    .collection-icon__item__custom-icon {
      width: 3.4rem;
      height: 3.4rem;
    }
    .collection-icon__item__info {
      gap: 0.5rem;
    }
    .collection-icon__slider-controls {
      position: absolute;
      inset-inline-start: 50%;
      bottom: 0;
      transform: translate(calc(var(--transform-direction) * 50%), calc(50% + 2.5rem));
    }
    .collection-icon__slider-controls__wrapper {
      gap: 0.8rem;
    }
    .collection-icon__slider-button {
      border-radius: 0;
      position: absolute;
      top: calc(var(--vertical-spacing) * (-1));
      bottom: calc(var(--vertical-spacing) * (-1));
      width: 4rem;
      height: auto;
      background: linear-gradient(var(--linear-deg), rgb(var(--color-background), 0) -24.7%, rgb(var(--color-background)) 100%);
    }
    .slider-button.collection-icon__slider-button[disabled] {
      opacity: 0;
      visibility: hidden;
    }
    .collection-icon__slider-button.slider-button--prev {
      --linear-deg: -90deg;
      inset-inline-start: calc((-1) * var(--horizontal-spacing));
      border-start-start-radius: 1.2rem;
      border-end-start-radius: 1.2rem;
    }
    .collection-icon__slider-button.slider-button--next {
      --linear-deg: 90deg;
      inset-inline-end: calc((-1) * var(--horizontal-spacing));
      border-start-end-radius: 1.2rem;
      border-end-end-radius: 1.2rem;
    }
    .page-title {
      margin-bottom: 3rem;
    }
    @media(min-width: 750px) {
      .collection-icon-wrapper {
        margin-top: calc(-5rem - var(--extra-height));
      }
      .collection-icon {
        --horizontal-spacing: 4rem;
        --vertical-spacing: 3rem;
      }
      .collection-icon__slider-controls {
        transform: translate(calc(var(--transform-direction) * 50%), calc(50% + 3rem));
      }
      .collection-icon__slider-button {
        width: 10rem;
      }
      .page-title {
        margin-bottom: 5rem;
      }
    }
  {%- endif -%}  
{%- endstyle -%}
<div class="section-{{ section.id }}">
  {%- render 'page-title', heading_title: collection.title, banner_image: banner_image, has_transparent: has_transparent, enable_parallax_scrolling_effect: section.settings.enable_parallax_scrolling_effect -%}

  {%- if total_item_size > 0 -%}
    <div class="page-width collection-icon-wrapper por">
      <div class="collection-icon color-{{ section.settings.collection_icon_color_scheme }}">
        <slider-component class="por slider-mobile-gutter slider-component-desktop slider-component-tablet slider-component-mobile">
          <ul id="Slider-{{ section.id }}" class="collection-icon__slider grid grid--2-col grid--4-col-tablet grid--5-col-desktop slider slider--desktop slider--tablet slider--mobile" role="list" aria-label="{{ 'sections.collection_banner.slider' | t }}">
            {%- if dynamic_sub_collection_size > 0 -%}
              {%- for link in dynamic_sub_collections -%}
                <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item slider__slide flex-grow-1">
                  {%-liquid
                    if subcollection_icons.size > 0 and sub_icons_str != ''
                      assign compare_index = ':' | append: link.object.id | append: '='
                      if sub_icons_str contains compare_index
                        assign sub_icon_block_index = sub_icons_str | split: compare_index | last | split: ';' | first | plus: 0
                        assign sub_icon_block = subcollection_icons[sub_icon_block_index]
                        assign sub_icon = sub_icon_block.settings.icon
                        assign sub_custom_icon = sub_icon_block.settings.custom_icon
                        render 'main-collection-banner-icon', icon_collection: link, icon: sub_icon, custom_icon: sub_custom_icon, products_count: link.object.all_products_count
                      else  
                        render 'main-collection-banner-icon', icon_collection: link, products_count: link.object.all_products_count
                      endif
                    else
                      render 'main-collection-banner-icon', icon_collection: link, products_count: link.object.all_products_count  
                    endif
                  -%}
                </li>  
              {%- endfor -%}  
            {%- endif -%}  
            {%- for block in collection_icons -%}
              <li id="Slide-{{ section.id }}-{{ forloop.index | plus: dynamic_sub_collection_size }}" class="grid__item slider__slide flex-grow-1">
                {%- render 'main-collection-banner-icon', icon_collection: block.settings.collection, icon: block.settings.icon, custom_icon: block.settings.custom_icon, products_count: block.settings.collection.all_products_count -%}
              </li>
            {%- endfor -%}  
          </ul>
          <div class="slider__controls slider-buttons no-js-hidden flex gradient collection-icon__slider-controls slider-counter small-hide">
            <div class="collection-icon__slider-controls__wrapper slider__control-wrapper flex align-center slider-counter__inner">
              {%- if dynamic_sub_collection_size > 0 -%}
                {%- for icon_collection in dynamic_sub_collections -%}
                  <button type="button" class="slider-counter__link slider-counter__link--dots flex justify-center align-center" aria-label="{{ 'sections.collection_banner.load_collection_icon' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ total_item_size }}" aria-controls="Slider-{{ section.id }}">
                    <span class="dot"></span>
                  </button>
                {%- endfor -%}  
              {%- endif -%}  
              {%- for block in collection_icons -%}
                <button type="button" class="slider-counter__link slider-counter__link--dots flex justify-center align-center" aria-label="{{ 'sections.collection_banner.load_collection_icon' | t }} {{ forloop.index | plus: dynamic_sub_collection_size }} {{ 'general.slider.of' | t }} {{ total_item_size }}" aria-controls="Slider-{{ section.id }}">
                  <span class="dot"></span>
                </button>
              {%- endfor -%}
            </div>
          </div>
          <button type="button" class="slider-button slider-button--prev collection-icon__slider-button slider-button--transparent no-js-hidden" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}" disabled="disabled" tabindex="-1"></button>
          <button type="button" class="slider-button slider-button--next collection-icon__slider-button slider-button--transparent no-js-hidden" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}" tabindex="-1"></button>  
        </slider-component>  
      </div>  
    </div>
  {%- endif -%}
</div>
{% schema %}
{
  "name": "t:sections.main-collection-icon.name",
  "class": "section",
  "settings": [
    {
      "type": "link_list",
      "id": "collection_tree_data",
      "label": "t:sections.main-collection-icon.settings.collection_tree_data.label",
      "info": "t:sections.main-collection-icon.settings.collection_tree_data.info"
    },
    {
      "type": "image_picker",
      "id": "title_background_image",
      "label": "t:sections.main-collection-icon.settings.title_background_image.label",
      "info": "t:sections.main-collection-icon.settings.title_background_image.info"
    },
    {
      "type": "checkbox",
      "id": "enable_parallax_scrolling_effect",
      "label": "t:sections.all.enable_parallax_scrolling_effect.label",
      "info": "t:sections.all.enable_parallax_scrolling_effect.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_number_of_products",
      "label": "t:sections.main-collection-icon.settings.show_number_of_products.label",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "collection_icon_color_scheme",
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-icon.settings.transparent_header_header.content"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header",
      "label": "t:sections.main-collection-icon.settings.enable_transparent_header.label",
      "info": "t:sections.main-collection-icon.settings.enable_transparent_header.info",
      "default": false
    },
    {
      "type": "color",
      "id": "text_color_transparent",
      "label": "t:sections.main-collection-icon.settings.text_color_transparent.label",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "collection_icon",
      "name": "t:sections.main-collection-icon.blocks.collection_icon.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.main-collection-icon.blocks.collection_icon.settings.collection.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.icon.options__none.label"
            },
            {
              "value": "academic_cap",
              "label": "t:sections.all.icon.options__academic_cap.label"
            },
            {
              "value": "adjustments",
              "label": "t:sections.all.icon.options__adjustments.label"
            },
            {
              "value": "annotation",
              "label": "t:sections.all.icon.options__annotation.label"
            },
            {
              "value": "appliances",
              "label": "t:sections.all.icon.options__appliances.label"
            },
            {
              "value": "archive",
              "label": "t:sections.all.icon.options__archive.label"
            },
            {
              "value": "arrow_circle_down",
              "label": "t:sections.all.icon.options__arrow_circle_down.label"
            },
            {
              "value": "arrow_circle_left",
              "label": "t:sections.all.icon.options__arrow_circle_left.label"
            },
            {
              "value": "arrow_circle_right",
              "label": "t:sections.all.icon.options__arrow_circle_right.label"
            },
            {
              "value": "arrow_circle_up",
              "label": "t:sections.all.icon.options__arrow_circle_up.label"
            },
            {
              "value": "arrow_down",
              "label": "t:sections.all.icon.options__arrow_down.label"
            },
            {
              "value": "arrow_left",
              "label": "t:sections.all.icon.options__arrow_left.label"
            },
            {
              "value": "arrow_narrow_down",
              "label": "t:sections.all.icon.options__arrow_narrow_down.label"
            },
            {
              "value": "arrow_narrow_left",
              "label": "t:sections.all.icon.options__arrow_narrow_left.label"
            },
            {
              "value": "arrow_narrow_right",
              "label": "t:sections.all.icon.options__arrow_narrow_right.label"
            },
            {
              "value": "arrow_narrow_up",
              "label": "t:sections.all.icon.options__arrow_narrow_up.label"
            },
            {
              "value": "arrow_right",
              "label": "t:sections.all.icon.options__arrow_right.label"
            },
            {
              "value": "arrow_up",
              "label": "t:sections.all.icon.options__arrow_up.label"
            },
            {
              "value": "arrows_expand",
              "label": "t:sections.all.icon.options__arrows_expand.label"
            },
            {
              "value": "at_symbol",
              "label": "t:sections.all.icon.options__at_symbol.label"
            },
            {
              "value": "audio",
              "label": "t:sections.all.icon.options__audio.label"
            },
            {
              "value": "backspace",
              "label": "t:sections.all.icon.options__backspace.label"
            },
            {
              "value": "badge_check",
              "label": "t:sections.all.icon.options__badge_check.label"
            },
            {
              "value": "ban",
              "label": "t:sections.all.icon.options__ban.label"
            },
            {
              "value": "beaker",
              "label": "t:sections.all.icon.options__beaker.label"
            },
            {
              "value": "bell",
              "label": "t:sections.all.icon.options__bell.label"
            },
            {
              "value": "book_open",
              "label": "t:sections.all.icon.options__book_open.label"
            },
            {
              "value": "bookmark_alt",
              "label": "t:sections.all.icon.options__bookmark_alt.label"
            },
            {
              "value": "bookmark",
              "label": "t:sections.all.icon.options__bookmark.label"
            },
            {
              "value": "box",
              "label": "t:sections.all.icon.options__box.label"
            },
            {
              "value": "briefcase",
              "label": "t:sections.all.icon.options__briefcase.label"
            },
            {
              "value": "cake",
              "label": "t:sections.all.icon.options__cake.label"
            },
            {
              "value": "calculator",
              "label": "t:sections.all.icon.options__calculator.label"
            },
            {
              "value": "calendar",
              "label": "t:sections.all.icon.options__calendar.label"
            },
            {
              "value": "camera",
              "label": "t:sections.all.icon.options__camera.label"
            },
            {
              "value": "cash",
              "label": "t:sections.all.icon.options__cash.label"
            },
            {
              "value": "cellphone",
              "label": "t:sections.all.icon.options__cellphone.label"
            },
            {
              "value": "chart_bar",
              "label": "t:sections.all.icon.options__chart_bar.label"
            },
            {
              "value": "chart_pie",
              "label": "t:sections.all.icon.options__chart_pie.label"
            },
            {
              "value": "chart_square_bar",
              "label": "t:sections.all.icon.options__chart_square_bar.label"
            },
            {
              "value": "chat_alt_2",
              "label": "t:sections.all.icon.options__chat_alt_2.label"
            },
            {
              "value": "chat_alt",
              "label": "t:sections.all.icon.options__chat_alt.label"
            },
            {
              "value": "chat",
              "label": "t:sections.all.icon.options__chat.label"
            },
            {
              "value": "check_circle",
              "label": "t:sections.all.icon.options__check_circle.label"
            },
            {
              "value": "check",
              "label": "t:sections.all.icon.options__check.label"
            },
            {
              "value": "chevron_double_down",
              "label": "t:sections.all.icon.options__chevron_double_down.label"
            },
            {
              "value": "chevron_double_left",
              "label": "t:sections.all.icon.options__chevron_double_left.label"
            },
            {
              "value": "chevron_double_right",
              "label": "t:sections.all.icon.options__chevron_double_right.label"
            },
            {
              "value": "chevron_double_up",
              "label": "t:sections.all.icon.options__chevron_double_up.label"
            },
            {
              "value": "chevron_down",
              "label": "t:sections.all.icon.options__chevron_down.label"
            },
            {
              "value": "chevron_left",
              "label": "t:sections.all.icon.options__chevron_left.label"
            },
            {
              "value": "chevron_right",
              "label": "t:sections.all.icon.options__chevron_right.label"
            },
            {
              "value": "chevron_up",
              "label": "t:sections.all.icon.options__chevron_up.label"
            },
            {
              "value": "chip",
              "label": "t:sections.all.icon.options__chip.label"
            },
            {
              "value": "clipboard_check",
              "label": "t:sections.all.icon.options__clipboard_check.label"
            },
            {
              "value": "clipboard_copy",
              "label": "t:sections.all.icon.options__clipboard_copy.label"
            },
            {
              "value": "clipboard_list",
              "label": "t:sections.all.icon.options__clipboard_list.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.all.icon.options__clipboard.label"
            },
            {
              "value": "clock",
              "label": "t:sections.all.icon.options__clock.label"
            },
            {
              "value": "cloud_download",
              "label": "t:sections.all.icon.options__cloud_download.label"
            },
            {
              "value": "cloud_upload",
              "label": "t:sections.all.icon.options__cloud_upload.label"
            },
            {
              "value": "cloud",
              "label": "t:sections.all.icon.options__cloud.label"
            },
            {
              "value": "code",
              "label": "t:sections.all.icon.options__code.label"
            },
            {
              "value": "cog",
              "label": "t:sections.all.icon.options__cog.label"
            },
            {
              "value": "collection",
              "label": "t:sections.all.icon.options__collection.label"
            },
            {
              "value": "color_swatch",
              "label": "t:sections.all.icon.options__color_swatch.label"
            },
            {
              "value": "computers",
              "label": "t:sections.all.icon.options__computers.label"
            },
            {
              "value": "credit_card",
              "label": "t:sections.all.icon.options__credit_card.label"
            },
            {
              "value": "cube_transparent",
              "label": "t:sections.all.icon.options__cube_transparent.label"
            },
            {
              "value": "cube",
              "label": "t:sections.all.icon.options__cube.label"
            },
            {
              "value": "currency_bangladeshi",
              "label": "t:sections.all.icon.options__currency_bangladeshi.label"
            },
            {
              "value": "currency_dollar",
              "label": "t:sections.all.icon.options__currency_dollar.label"
            },
            {
              "value": "currency_euro",
              "label": "t:sections.all.icon.options__currency_euro.label"
            },
            {
              "value": "currency_pound",
              "label": "t:sections.all.icon.options__currency_pound.label"
            },
            {
              "value": "currency_rupee",
              "label": "t:sections.all.icon.options__currency_rupee.label"
            },
            {
              "value": "currency_yen",
              "label": "t:sections.all.icon.options__currency_yen.label"
            },
            {
              "value": "cursor_click",
              "label": "t:sections.all.icon.options__cursor_click.label"
            },
            {
              "value": "database",
              "label": "t:sections.all.icon.options__database.label"
            },
            {
              "value": "delivery",
              "label": "t:sections.all.icon.options__delivery.label"
            },
            {
              "value": "desktop_computer",
              "label": "t:sections.all.icon.options__desktop_computer.label"
            },
            {
              "value": "device_mobile",
              "label": "t:sections.all.icon.options__device_mobile.label"
            },
            {
              "value": "device_tablet",
              "label": "t:sections.all.icon.options__device_tablet.label"
            },
            {
              "value": "document_add",
              "label": "t:sections.all.icon.options__document_add.label"
            },
            {
              "value": "document_download",
              "label": "t:sections.all.icon.options__document_download.label"
            },
            {
              "value": "document_duplicate",
              "label": "t:sections.all.icon.options__document_duplicate.label"
            },
            {
              "value": "document_remove",
              "label": "t:sections.all.icon.options__document_remove.label"
            },
            {
              "value": "document_report",
              "label": "t:sections.all.icon.options__document_report.label"
            },
            {
              "value": "document_search",
              "label": "t:sections.all.icon.options__document_search.label"
            },
            {
              "value": "document_text",
              "label": "t:sections.all.icon.options__document_text.label"
            },
            {
              "value": "document",
              "label": "t:sections.all.icon.options__document.label"
            },
            {
              "value": "dots_circle_horizontal",
              "label": "t:sections.all.icon.options__dots_circle_horizontal.label"
            },
            {
              "value": "dots_horizontal",
              "label": "t:sections.all.icon.options__dots_horizontal.label"
            },
            {
              "value": "dots_vertical",
              "label": "t:sections.all.icon.options__dots_vertical.label"
            },
            {
              "value": "download",
              "label": "t:sections.all.icon.options__download.label"
            },
            {
              "value": "duplicate",
              "label": "t:sections.all.icon.options__duplicate.label"
            },
            {
              "value": "emoji_happy",
              "label": "t:sections.all.icon.options__emoji_happy.label"
            },
            {
              "value": "emoji_sad",
              "label": "t:sections.all.icon.options__emoji_sad.label"
            },
            {
              "value": "exclamation_circle",
              "label": "t:sections.all.icon.options__exclamation_circle.label"
            },
            {
              "value": "exclamation",
              "label": "t:sections.all.icon.options__exclamation.label"
            },
            {
              "value": "external_link",
              "label": "t:sections.all.icon.options__external_link.label"
            },
            {
              "value": "eye_off",
              "label": "t:sections.all.icon.options__eye_off.label"
            },
            {
              "value": "eye",
              "label": "t:sections.all.icon.options__eye.label"
            },
            {
              "value": "fast_forward",
              "label": "t:sections.all.icon.options__fast_forward.label"
            },
            {
              "value": "film",
              "label": "t:sections.all.icon.options__film.label"
            },
            {
              "value": "filter",
              "label": "t:sections.all.icon.options__filter.label"
            },
            {
              "value": "finger_print",
              "label": "t:sections.all.icon.options__finger_print.label"
            },
            {
              "value": "fire",
              "label": "t:sections.all.icon.options__fire.label"
            },
            {
              "value": "flag",
              "label": "t:sections.all.icon.options__flag.label"
            },
            {
              "value": "folder_add",
              "label": "t:sections.all.icon.options__folder_add.label"
            },
            {
              "value": "folder_download",
              "label": "t:sections.all.icon.options__folder_download.label"
            },
            {
              "value": "folder_open",
              "label": "t:sections.all.icon.options__folder_open.label"
            },
            {
              "value": "folder_remove",
              "label": "t:sections.all.icon.options__folder_remove.label"
            },
            {
              "value": "folder",
              "label": "t:sections.all.icon.options__folder.label"
            },
            {
              "value": "garden",
              "label": "t:sections.all.icon.options__garden.label"
            },
            {
              "value": "gift",
              "label": "t:sections.all.icon.options__gift.label"
            },
            {
              "value": "globe_alt",
              "label": "t:sections.all.icon.options__globe_alt.label"
            },
            {
              "value": "globe",
              "label": "t:sections.all.icon.options__globe.label"
            },
            {
              "value": "hand",
              "label": "t:sections.all.icon.options__hand.label"
            },
            {
              "value": "hashtag",
              "label": "t:sections.all.icon.options__hashtag.label"
            },
            {
              "value": "heart",
              "label": "t:sections.all.icon.options__heart.label"
            },
            {
              "value": "home",
              "label": "t:sections.all.icon.options__home.label"
            },
            {
              "value": "icon_user_remove",
              "label": "t:sections.all.icon.options__icon_user_remove.label"
            },
            {
              "value": "identification",
              "label": "t:sections.all.icon.options__identification.label"
            },
            {
              "value": "inbox_in",
              "label": "t:sections.all.icon.options__inbox_in.label"
            },
            {
              "value": "inbox",
              "label": "t:sections.all.icon.options__inbox.label"
            },
            {
              "value": "information_circle",
              "label": "t:sections.all.icon.options__information_circle.label"
            },
            {
              "value": "key",
              "label": "t:sections.all.icon.options__key.label"
            },
            {
              "value": "laptop",
              "label": "t:sections.all.icon.options__laptop.label"
            },
            {
              "value": "library",
              "label": "t:sections.all.icon.options__library.label"
            },
            {
              "value": "light_bulb",
              "label": "t:sections.all.icon.options__light_bulb.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.all.icon.options__lightning_bolt.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.icon.options__link.label"
            },
            {
              "value": "location_marker",
              "label": "t:sections.all.icon.options__location_marker.label"
            },
            {
              "value": "lock_closed",
              "label": "t:sections.all.icon.options__lock_closed.label"
            },
            {
              "value": "lock_open",
              "label": "t:sections.all.icon.options__lock_open.label"
            },
            {
              "value": "logout",
              "label": "t:sections.all.icon.options__logout.label"
            },
            {
              "value": "mail_open",
              "label": "t:sections.all.icon.options__mail_open.label"
            },
            {
              "value": "mail",
              "label": "t:sections.all.icon.options__mail.label"
            },
            {
              "value": "map",
              "label": "t:sections.all.icon.options__map.label"
            },
            {
              "value": "menu_alt_1",
              "label": "t:sections.all.icon.options__menu_alt_1.label"
            },
            {
              "value": "menu_alt_2",
              "label": "t:sections.all.icon.options__menu_alt_2.label"
            },
            {
              "value": "menu_alt_3",
              "label": "t:sections.all.icon.options__menu_alt_3.label"
            },
            {
              "value": "menu_alt_4",
              "label": "t:sections.all.icon.options__menu_alt_4.label"
            },
            {
              "value": "menu",
              "label": "t:sections.all.icon.options__menu.label"
            },
            {
              "value": "microphone",
              "label": "t:sections.all.icon.options__microphone.label"
            },
            {
              "value": "minus_circle",
              "label": "t:sections.all.icon.options__minus_circle.label"
            },
            {
              "value": "minus",
              "label": "t:sections.all.icon.options__minus.label"
            },
            {
              "value": "moon",
              "label": "t:sections.all.icon.options__moon.label"
            },
            {
              "value": "music_note",
              "label": "t:sections.all.icon.options__music_note.label"
            },
            {
              "value": "newspaper",
              "label": "t:sections.all.icon.options__newspaper.label"
            },
            {
              "value": "office_building",
              "label": "t:sections.all.icon.options__office_building.label"
            },
            {
              "value": "paper_airplane",
              "label": "t:sections.all.icon.options__paper_airplane.label"
            },
            {
              "value": "paper_clip",
              "label": "t:sections.all.icon.options__paper_clip.label"
            },
            {
              "value": "pause",
              "label": "t:sections.all.icon.options__pause.label"
            },
            {
              "value": "pencil_alt",
              "label": "t:sections.all.icon.options__pencil_alt.label"
            },
            {
              "value": "pencil",
              "label": "t:sections.all.icon.options__pencil.label"
            },
            {
              "value": "phone_incoming",
              "label": "t:sections.all.icon.options__phone_incoming.label"
            },
            {
              "value": "phone_missed_call",
              "label": "t:sections.all.icon.options__phone_missed_call.label"
            },
            {
              "value": "phone_outgoing",
              "label": "t:sections.all.icon.options__phone_outgoing.label"
            },
            {
              "value": "phone",
              "label": "t:sections.all.icon.options__phone.label"
            },
            {
              "value": "photograph",
              "label": "t:sections.all.icon.options__photograph.label"
            },
            {
              "value": "play",
              "label": "t:sections.all.icon.options__play.label"
            },
            {
              "value": "plus_circle",
              "label": "t:sections.all.icon.options__plus_circle.label"
            },
            {
              "value": "plus_sm",
              "label": "t:sections.all.icon.options__plus_sm.label"
            },
            {
              "value": "plus",
              "label": "t:sections.all.icon.options__plus.label"
            },
            {
              "value": "presentation_chart_bar",
              "label": "t:sections.all.icon.options__presentation_chart_bar.label"
            },
            {
              "value": "presentation_chart_line",
              "label": "t:sections.all.icon.options__presentation_chart_line.label"
            },
            {
              "value": "printer",
              "label": "t:sections.all.icon.options__printer.label"
            },
            {
              "value": "puzzle",
              "label": "t:sections.all.icon.options__puzzle.label"
            },
            {
              "value": "qrcode",
              "label": "t:sections.all.icon.options__qrcode.label"
            },
            {
              "value": "question_mark_circle",
              "label": "t:sections.all.icon.options__question_mark_circle.label"
            },
            {
              "value": "rss",
              "label": "t:sections.all.icon.options__rss.label"
            },
            {
              "value": "receipt_refund",
              "label": "t:sections.all.icon.options__receipt_refund.label"
            },
            {
              "value": "receipt_tax",
              "label": "t:sections.all.icon.options__receipt_tax.label"
            },
            {
              "value": "refresh",
              "label": "t:sections.all.icon.options__refresh.label"
            },
            {
              "value": "reply",
              "label": "t:sections.all.icon.options__reply.label"
            },
            {
              "value": "rewind",
              "label": "t:sections.all.icon.options__rewind.label"
            },
            {
              "value": "sale",
              "label": "t:sections.all.icon.options__sale.label"
            },
            {
              "value": "save_as",
              "label": "t:sections.all.icon.options__save_as.label"
            },
            {
              "value": "save",
              "label": "t:sections.all.icon.options__save.label"
            },
            {
              "value": "scale",
              "label": "t:sections.all.icon.options__scale.label"
            },
            {
              "value": "scissors",
              "label": "t:sections.all.icon.options__scissors.label"
            },
            {
              "value": "search_circle",
              "label": "t:sections.all.icon.options__search_circle.label"
            },
            {
              "value": "search",
              "label": "t:sections.all.icon.options__search.label"
            },
            {
              "value": "selector",
              "label": "t:sections.all.icon.options__selector.label"
            },
            {
              "value": "server",
              "label": "t:sections.all.icon.options__server.label"
            },
            {
              "value": "share",
              "label": "t:sections.all.icon.options__share.label"
            },
            {
              "value": "shield_check",
              "label": "t:sections.all.icon.options__shield_check.label"
            },
            {
              "value": "shield_exclamation",
              "label": "t:sections.all.icon.options__shield_exclamation.label"
            },
            {
              "value": "shopping_bag",
              "label": "t:sections.all.icon.options__shopping_bag.label"
            },
            {
              "value": "shopping_cart",
              "label": "t:sections.all.icon.options__shopping_cart.label"
            },
            {
              "value": "sort_ascending",
              "label": "t:sections.all.icon.options__sort_ascending.label"
            },
            {
              "value": "sort_descending",
              "label": "t:sections.all.icon.options__sort_descending.label"
            },
            {
              "value": "sparkles",
              "label": "t:sections.all.icon.options__sparkles.label"
            },
            {
              "value": "speakerphone",
              "label": "t:sections.all.icon.options__speakerphone.label"
            },
            {
              "value": "star",
              "label": "t:sections.all.icon.options__star.label"
            },
            {
              "value": "status_offline",
              "label": "t:sections.all.icon.options__status_offline.label"
            },
            {
              "value": "status_online",
              "label": "t:sections.all.icon.options__status_online.label"
            },
            {
              "value": "stop",
              "label": "t:sections.all.icon.options__stop.label"
            },
            {
              "value": "sun",
              "label": "t:sections.all.icon.options__sun.label"
            },
            {
              "value": "support",
              "label": "t:sections.all.icon.options__support.label"
            },
            {
              "value": "switch_horizontal",
              "label": "t:sections.all.icon.options__switch_horizontal.label"
            },
            {
              "value": "switch_vertical",
              "label": "t:sections.all.icon.options__switch_vertical.label"
            },
            {
              "value": "table",
              "label": "t:sections.all.icon.options__table.label"
            },
            {
              "value": "tag",
              "label": "t:sections.all.icon.options__tag.label"
            },
            {
              "value": "template",
              "label": "t:sections.all.icon.options__template.label"
            },
            {
              "value": "terminal",
              "label": "t:sections.all.icon.options__terminal.label"
            },
            {
              "value": "thumb_down",
              "label": "t:sections.all.icon.options__thumb_down.label"
            },
            {
              "value": "thumb_up",
              "label": "t:sections.all.icon.options__thumb_up.label"
            },
            {
              "value": "ticket",
              "label": "t:sections.all.icon.options__ticket.label"
            },
            {
              "value": "translate",
              "label": "t:sections.all.icon.options__translate.label"
            },
            {
              "value": "trash",
              "label": "t:sections.all.icon.options__trash.label"
            },
            {
              "value": "trending_down",
              "label": "t:sections.all.icon.options__trending_down.label"
            },
            {
              "value": "trending_up",
              "label": "t:sections.all.icon.options__trending_up.label"
            },
            {
              "value": "truck",
              "label": "t:sections.all.icon.options__truck.label"
            },
            {
              "value": "upload",
              "label": "t:sections.all.icon.options__upload.label"
            },
            {
              "value": "user_add",
              "label": "t:sections.all.icon.options__user_add.label"
            },
            {
              "value": "user_circle",
              "label": "t:sections.all.icon.options__user_circle.label"
            },
            {
              "value": "user_group",
              "label": "t:sections.all.icon.options__user_group.label"
            },
            {
              "value": "user",
              "label": "t:sections.all.icon.options__user.label"
            },
            {
              "value": "users",
              "label": "t:sections.all.icon.options__users.label"
            },
            {
              "value": "variable",
              "label": "t:sections.all.icon.options__variable.label"
            },
            {
              "value": "video_games",
              "label": "t:sections.all.icon.options__video_games.label"
            },
            {
              "value": "video_camera",
              "label": "t:sections.all.icon.options__video_camera.label"
            },
            {
              "value": "view_boards",
              "label": "t:sections.all.icon.options__view_boards.label"
            },
            {
              "value": "view_grid_add",
              "label": "t:sections.all.icon.options__view_grid_add.label"
            },
            {
              "value": "view_grid",
              "label": "t:sections.all.icon.options__view_grid.label"
            },
            {
              "value": "view_list",
              "label": "t:sections.all.icon.options__view_list.label"
            },
            {
              "value": "volume_off",
              "label": "t:sections.all.icon.options__volume_off.label"
            },
            {
              "value": "volume_up",
              "label": "t:sections.all.icon.options__volume_up.label"
            },
            {
              "value": "washing_machine",
              "label": "t:sections.all.icon.options__washing_machine.label"
            },
            {
              "value": "watch",
              "label": "t:sections.all.icon.options__watch.label"
            },
            {
              "value": "wifi",
              "label": "t:sections.all.icon.options__wifi.label"
            },
            {
              "value": "x_circle",
              "label": "t:sections.all.icon.options__x_circle.label"
            },
            {
              "value": "x",
              "label": "t:sections.all.icon.options__x.label"
            },
            {
              "value": "zoom_in",
              "label": "t:sections.all.icon.options__zoom_in.label"
            },
            {
              "value": "zoom_out",
              "label": "t:sections.all.icon.options__zoom_out.label"
            }
          ],
          "default": "cellphone",
          "label": "t:sections.all.icon.label"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "t:sections.main-collection-icon.blocks.collection_icon.settings.custom_icon.label"
        }
      ]
    },
    {
      "type": "subcollection_icon",
      "name": "t:sections.main-collection-icon.blocks.subcollection_icon.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-collection-icon.blocks.subcollection_icon.settings.instruction.content"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.main-collection-icon.blocks.subcollection_icon.settings.collection.label",
          "info": "t:sections.main-collection-icon.blocks.subcollection_icon.settings.collection.info"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.icon.options__none.label"
            },
            {
              "value": "academic_cap",
              "label": "t:sections.all.icon.options__academic_cap.label"
            },
            {
              "value": "adjustments",
              "label": "t:sections.all.icon.options__adjustments.label"
            },
            {
              "value": "annotation",
              "label": "t:sections.all.icon.options__annotation.label"
            },
            {
              "value": "appliances",
              "label": "t:sections.all.icon.options__appliances.label"
            },
            {
              "value": "archive",
              "label": "t:sections.all.icon.options__archive.label"
            },
            {
              "value": "arrow_circle_down",
              "label": "t:sections.all.icon.options__arrow_circle_down.label"
            },
            {
              "value": "arrow_circle_left",
              "label": "t:sections.all.icon.options__arrow_circle_left.label"
            },
            {
              "value": "arrow_circle_right",
              "label": "t:sections.all.icon.options__arrow_circle_right.label"
            },
            {
              "value": "arrow_circle_up",
              "label": "t:sections.all.icon.options__arrow_circle_up.label"
            },
            {
              "value": "arrow_down",
              "label": "t:sections.all.icon.options__arrow_down.label"
            },
            {
              "value": "arrow_left",
              "label": "t:sections.all.icon.options__arrow_left.label"
            },
            {
              "value": "arrow_narrow_down",
              "label": "t:sections.all.icon.options__arrow_narrow_down.label"
            },
            {
              "value": "arrow_narrow_left",
              "label": "t:sections.all.icon.options__arrow_narrow_left.label"
            },
            {
              "value": "arrow_narrow_right",
              "label": "t:sections.all.icon.options__arrow_narrow_right.label"
            },
            {
              "value": "arrow_narrow_up",
              "label": "t:sections.all.icon.options__arrow_narrow_up.label"
            },
            {
              "value": "arrow_right",
              "label": "t:sections.all.icon.options__arrow_right.label"
            },
            {
              "value": "arrow_up",
              "label": "t:sections.all.icon.options__arrow_up.label"
            },
            {
              "value": "arrows_expand",
              "label": "t:sections.all.icon.options__arrows_expand.label"
            },
            {
              "value": "at_symbol",
              "label": "t:sections.all.icon.options__at_symbol.label"
            },
            {
              "value": "audio",
              "label": "t:sections.all.icon.options__audio.label"
            },
            {
              "value": "backspace",
              "label": "t:sections.all.icon.options__backspace.label"
            },
            {
              "value": "badge_check",
              "label": "t:sections.all.icon.options__badge_check.label"
            },
            {
              "value": "ban",
              "label": "t:sections.all.icon.options__ban.label"
            },
            {
              "value": "beaker",
              "label": "t:sections.all.icon.options__beaker.label"
            },
            {
              "value": "bell",
              "label": "t:sections.all.icon.options__bell.label"
            },
            {
              "value": "book_open",
              "label": "t:sections.all.icon.options__book_open.label"
            },
            {
              "value": "bookmark_alt",
              "label": "t:sections.all.icon.options__bookmark_alt.label"
            },
            {
              "value": "bookmark",
              "label": "t:sections.all.icon.options__bookmark.label"
            },
            {
              "value": "box",
              "label": "t:sections.all.icon.options__box.label"
            },
            {
              "value": "briefcase",
              "label": "t:sections.all.icon.options__briefcase.label"
            },
            {
              "value": "cake",
              "label": "t:sections.all.icon.options__cake.label"
            },
            {
              "value": "calculator",
              "label": "t:sections.all.icon.options__calculator.label"
            },
            {
              "value": "calendar",
              "label": "t:sections.all.icon.options__calendar.label"
            },
            {
              "value": "camera",
              "label": "t:sections.all.icon.options__camera.label"
            },
            {
              "value": "cash",
              "label": "t:sections.all.icon.options__cash.label"
            },
            {
              "value": "cellphone",
              "label": "t:sections.all.icon.options__cellphone.label"
            },
            {
              "value": "chart_bar",
              "label": "t:sections.all.icon.options__chart_bar.label"
            },
            {
              "value": "chart_pie",
              "label": "t:sections.all.icon.options__chart_pie.label"
            },
            {
              "value": "chart_square_bar",
              "label": "t:sections.all.icon.options__chart_square_bar.label"
            },
            {
              "value": "chat_alt_2",
              "label": "t:sections.all.icon.options__chat_alt_2.label"
            },
            {
              "value": "chat_alt",
              "label": "t:sections.all.icon.options__chat_alt.label"
            },
            {
              "value": "chat",
              "label": "t:sections.all.icon.options__chat.label"
            },
            {
              "value": "check_circle",
              "label": "t:sections.all.icon.options__check_circle.label"
            },
            {
              "value": "check",
              "label": "t:sections.all.icon.options__check.label"
            },
            {
              "value": "chevron_double_down",
              "label": "t:sections.all.icon.options__chevron_double_down.label"
            },
            {
              "value": "chevron_double_left",
              "label": "t:sections.all.icon.options__chevron_double_left.label"
            },
            {
              "value": "chevron_double_right",
              "label": "t:sections.all.icon.options__chevron_double_right.label"
            },
            {
              "value": "chevron_double_up",
              "label": "t:sections.all.icon.options__chevron_double_up.label"
            },
            {
              "value": "chevron_down",
              "label": "t:sections.all.icon.options__chevron_down.label"
            },
            {
              "value": "chevron_left",
              "label": "t:sections.all.icon.options__chevron_left.label"
            },
            {
              "value": "chevron_right",
              "label": "t:sections.all.icon.options__chevron_right.label"
            },
            {
              "value": "chevron_up",
              "label": "t:sections.all.icon.options__chevron_up.label"
            },
            {
              "value": "chip",
              "label": "t:sections.all.icon.options__chip.label"
            },
            {
              "value": "clipboard_check",
              "label": "t:sections.all.icon.options__clipboard_check.label"
            },
            {
              "value": "clipboard_copy",
              "label": "t:sections.all.icon.options__clipboard_copy.label"
            },
            {
              "value": "clipboard_list",
              "label": "t:sections.all.icon.options__clipboard_list.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.all.icon.options__clipboard.label"
            },
            {
              "value": "clock",
              "label": "t:sections.all.icon.options__clock.label"
            },
            {
              "value": "cloud_download",
              "label": "t:sections.all.icon.options__cloud_download.label"
            },
            {
              "value": "cloud_upload",
              "label": "t:sections.all.icon.options__cloud_upload.label"
            },
            {
              "value": "cloud",
              "label": "t:sections.all.icon.options__cloud.label"
            },
            {
              "value": "code",
              "label": "t:sections.all.icon.options__code.label"
            },
            {
              "value": "cog",
              "label": "t:sections.all.icon.options__cog.label"
            },
            {
              "value": "collection",
              "label": "t:sections.all.icon.options__collection.label"
            },
            {
              "value": "color_swatch",
              "label": "t:sections.all.icon.options__color_swatch.label"
            },
            {
              "value": "computers",
              "label": "t:sections.all.icon.options__computers.label"
            },
            {
              "value": "credit_card",
              "label": "t:sections.all.icon.options__credit_card.label"
            },
            {
              "value": "cube_transparent",
              "label": "t:sections.all.icon.options__cube_transparent.label"
            },
            {
              "value": "cube",
              "label": "t:sections.all.icon.options__cube.label"
            },
            {
              "value": "currency_bangladeshi",
              "label": "t:sections.all.icon.options__currency_bangladeshi.label"
            },
            {
              "value": "currency_dollar",
              "label": "t:sections.all.icon.options__currency_dollar.label"
            },
            {
              "value": "currency_euro",
              "label": "t:sections.all.icon.options__currency_euro.label"
            },
            {
              "value": "currency_pound",
              "label": "t:sections.all.icon.options__currency_pound.label"
            },
            {
              "value": "currency_rupee",
              "label": "t:sections.all.icon.options__currency_rupee.label"
            },
            {
              "value": "currency_yen",
              "label": "t:sections.all.icon.options__currency_yen.label"
            },
            {
              "value": "cursor_click",
              "label": "t:sections.all.icon.options__cursor_click.label"
            },
            {
              "value": "database",
              "label": "t:sections.all.icon.options__database.label"
            },
            {
              "value": "delivery",
              "label": "t:sections.all.icon.options__delivery.label"
            },
            {
              "value": "desktop_computer",
              "label": "t:sections.all.icon.options__desktop_computer.label"
            },
            {
              "value": "device_mobile",
              "label": "t:sections.all.icon.options__device_mobile.label"
            },
            {
              "value": "device_tablet",
              "label": "t:sections.all.icon.options__device_tablet.label"
            },
            {
              "value": "document_add",
              "label": "t:sections.all.icon.options__document_add.label"
            },
            {
              "value": "document_download",
              "label": "t:sections.all.icon.options__document_download.label"
            },
            {
              "value": "document_duplicate",
              "label": "t:sections.all.icon.options__document_duplicate.label"
            },
            {
              "value": "document_remove",
              "label": "t:sections.all.icon.options__document_remove.label"
            },
            {
              "value": "document_report",
              "label": "t:sections.all.icon.options__document_report.label"
            },
            {
              "value": "document_search",
              "label": "t:sections.all.icon.options__document_search.label"
            },
            {
              "value": "document_text",
              "label": "t:sections.all.icon.options__document_text.label"
            },
            {
              "value": "document",
              "label": "t:sections.all.icon.options__document.label"
            },
            {
              "value": "dots_circle_horizontal",
              "label": "t:sections.all.icon.options__dots_circle_horizontal.label"
            },
            {
              "value": "dots_horizontal",
              "label": "t:sections.all.icon.options__dots_horizontal.label"
            },
            {
              "value": "dots_vertical",
              "label": "t:sections.all.icon.options__dots_vertical.label"
            },
            {
              "value": "download",
              "label": "t:sections.all.icon.options__download.label"
            },
            {
              "value": "duplicate",
              "label": "t:sections.all.icon.options__duplicate.label"
            },
            {
              "value": "emoji_happy",
              "label": "t:sections.all.icon.options__emoji_happy.label"
            },
            {
              "value": "emoji_sad",
              "label": "t:sections.all.icon.options__emoji_sad.label"
            },
            {
              "value": "exclamation_circle",
              "label": "t:sections.all.icon.options__exclamation_circle.label"
            },
            {
              "value": "exclamation",
              "label": "t:sections.all.icon.options__exclamation.label"
            },
            {
              "value": "external_link",
              "label": "t:sections.all.icon.options__external_link.label"
            },
            {
              "value": "eye_off",
              "label": "t:sections.all.icon.options__eye_off.label"
            },
            {
              "value": "eye",
              "label": "t:sections.all.icon.options__eye.label"
            },
            {
              "value": "fast_forward",
              "label": "t:sections.all.icon.options__fast_forward.label"
            },
            {
              "value": "film",
              "label": "t:sections.all.icon.options__film.label"
            },
            {
              "value": "filter",
              "label": "t:sections.all.icon.options__filter.label"
            },
            {
              "value": "finger_print",
              "label": "t:sections.all.icon.options__finger_print.label"
            },
            {
              "value": "fire",
              "label": "t:sections.all.icon.options__fire.label"
            },
            {
              "value": "flag",
              "label": "t:sections.all.icon.options__flag.label"
            },
            {
              "value": "folder_add",
              "label": "t:sections.all.icon.options__folder_add.label"
            },
            {
              "value": "folder_download",
              "label": "t:sections.all.icon.options__folder_download.label"
            },
            {
              "value": "folder_open",
              "label": "t:sections.all.icon.options__folder_open.label"
            },
            {
              "value": "folder_remove",
              "label": "t:sections.all.icon.options__folder_remove.label"
            },
            {
              "value": "folder",
              "label": "t:sections.all.icon.options__folder.label"
            },
            {
              "value": "garden",
              "label": "t:sections.all.icon.options__garden.label"
            },
            {
              "value": "gift",
              "label": "t:sections.all.icon.options__gift.label"
            },
            {
              "value": "globe_alt",
              "label": "t:sections.all.icon.options__globe_alt.label"
            },
            {
              "value": "globe",
              "label": "t:sections.all.icon.options__globe.label"
            },
            {
              "value": "hand",
              "label": "t:sections.all.icon.options__hand.label"
            },
            {
              "value": "hashtag",
              "label": "t:sections.all.icon.options__hashtag.label"
            },
            {
              "value": "heart",
              "label": "t:sections.all.icon.options__heart.label"
            },
            {
              "value": "home",
              "label": "t:sections.all.icon.options__home.label"
            },
            {
              "value": "icon_user_remove",
              "label": "t:sections.all.icon.options__icon_user_remove.label"
            },
            {
              "value": "identification",
              "label": "t:sections.all.icon.options__identification.label"
            },
            {
              "value": "inbox_in",
              "label": "t:sections.all.icon.options__inbox_in.label"
            },
            {
              "value": "inbox",
              "label": "t:sections.all.icon.options__inbox.label"
            },
            {
              "value": "information_circle",
              "label": "t:sections.all.icon.options__information_circle.label"
            },
            {
              "value": "key",
              "label": "t:sections.all.icon.options__key.label"
            },
            {
              "value": "laptop",
              "label": "t:sections.all.icon.options__laptop.label"
            },
            {
              "value": "library",
              "label": "t:sections.all.icon.options__library.label"
            },
            {
              "value": "light_bulb",
              "label": "t:sections.all.icon.options__light_bulb.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.all.icon.options__lightning_bolt.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.icon.options__link.label"
            },
            {
              "value": "location_marker",
              "label": "t:sections.all.icon.options__location_marker.label"
            },
            {
              "value": "lock_closed",
              "label": "t:sections.all.icon.options__lock_closed.label"
            },
            {
              "value": "lock_open",
              "label": "t:sections.all.icon.options__lock_open.label"
            },
            {
              "value": "logout",
              "label": "t:sections.all.icon.options__logout.label"
            },
            {
              "value": "mail_open",
              "label": "t:sections.all.icon.options__mail_open.label"
            },
            {
              "value": "mail",
              "label": "t:sections.all.icon.options__mail.label"
            },
            {
              "value": "map",
              "label": "t:sections.all.icon.options__map.label"
            },
            {
              "value": "menu_alt_1",
              "label": "t:sections.all.icon.options__menu_alt_1.label"
            },
            {
              "value": "menu_alt_2",
              "label": "t:sections.all.icon.options__menu_alt_2.label"
            },
            {
              "value": "menu_alt_3",
              "label": "t:sections.all.icon.options__menu_alt_3.label"
            },
            {
              "value": "menu_alt_4",
              "label": "t:sections.all.icon.options__menu_alt_4.label"
            },
            {
              "value": "menu",
              "label": "t:sections.all.icon.options__menu.label"
            },
            {
              "value": "microphone",
              "label": "t:sections.all.icon.options__microphone.label"
            },
            {
              "value": "minus_circle",
              "label": "t:sections.all.icon.options__minus_circle.label"
            },
            {
              "value": "minus",
              "label": "t:sections.all.icon.options__minus.label"
            },
            {
              "value": "moon",
              "label": "t:sections.all.icon.options__moon.label"
            },
            {
              "value": "music_note",
              "label": "t:sections.all.icon.options__music_note.label"
            },
            {
              "value": "newspaper",
              "label": "t:sections.all.icon.options__newspaper.label"
            },
            {
              "value": "office_building",
              "label": "t:sections.all.icon.options__office_building.label"
            },
            {
              "value": "paper_airplane",
              "label": "t:sections.all.icon.options__paper_airplane.label"
            },
            {
              "value": "paper_clip",
              "label": "t:sections.all.icon.options__paper_clip.label"
            },
            {
              "value": "pause",
              "label": "t:sections.all.icon.options__pause.label"
            },
            {
              "value": "pencil_alt",
              "label": "t:sections.all.icon.options__pencil_alt.label"
            },
            {
              "value": "pencil",
              "label": "t:sections.all.icon.options__pencil.label"
            },
            {
              "value": "phone_incoming",
              "label": "t:sections.all.icon.options__phone_incoming.label"
            },
            {
              "value": "phone_missed_call",
              "label": "t:sections.all.icon.options__phone_missed_call.label"
            },
            {
              "value": "phone_outgoing",
              "label": "t:sections.all.icon.options__phone_outgoing.label"
            },
            {
              "value": "phone",
              "label": "t:sections.all.icon.options__phone.label"
            },
            {
              "value": "photograph",
              "label": "t:sections.all.icon.options__photograph.label"
            },
            {
              "value": "play",
              "label": "t:sections.all.icon.options__play.label"
            },
            {
              "value": "plus_circle",
              "label": "t:sections.all.icon.options__plus_circle.label"
            },
            {
              "value": "plus_sm",
              "label": "t:sections.all.icon.options__plus_sm.label"
            },
            {
              "value": "plus",
              "label": "t:sections.all.icon.options__plus.label"
            },
            {
              "value": "presentation_chart_bar",
              "label": "t:sections.all.icon.options__presentation_chart_bar.label"
            },
            {
              "value": "presentation_chart_line",
              "label": "t:sections.all.icon.options__presentation_chart_line.label"
            },
            {
              "value": "printer",
              "label": "t:sections.all.icon.options__printer.label"
            },
            {
              "value": "puzzle",
              "label": "t:sections.all.icon.options__puzzle.label"
            },
            {
              "value": "qrcode",
              "label": "t:sections.all.icon.options__qrcode.label"
            },
            {
              "value": "question_mark_circle",
              "label": "t:sections.all.icon.options__question_mark_circle.label"
            },
            {
              "value": "rss",
              "label": "t:sections.all.icon.options__rss.label"
            },
            {
              "value": "receipt_refund",
              "label": "t:sections.all.icon.options__receipt_refund.label"
            },
            {
              "value": "receipt_tax",
              "label": "t:sections.all.icon.options__receipt_tax.label"
            },
            {
              "value": "refresh",
              "label": "t:sections.all.icon.options__refresh.label"
            },
            {
              "value": "reply",
              "label": "t:sections.all.icon.options__reply.label"
            },
            {
              "value": "rewind",
              "label": "t:sections.all.icon.options__rewind.label"
            },
            {
              "value": "sale",
              "label": "t:sections.all.icon.options__sale.label"
            },
            {
              "value": "save_as",
              "label": "t:sections.all.icon.options__save_as.label"
            },
            {
              "value": "save",
              "label": "t:sections.all.icon.options__save.label"
            },
            {
              "value": "scale",
              "label": "t:sections.all.icon.options__scale.label"
            },
            {
              "value": "scissors",
              "label": "t:sections.all.icon.options__scissors.label"
            },
            {
              "value": "search_circle",
              "label": "t:sections.all.icon.options__search_circle.label"
            },
            {
              "value": "search",
              "label": "t:sections.all.icon.options__search.label"
            },
            {
              "value": "selector",
              "label": "t:sections.all.icon.options__selector.label"
            },
            {
              "value": "server",
              "label": "t:sections.all.icon.options__server.label"
            },
            {
              "value": "share",
              "label": "t:sections.all.icon.options__share.label"
            },
            {
              "value": "shield_check",
              "label": "t:sections.all.icon.options__shield_check.label"
            },
            {
              "value": "shield_exclamation",
              "label": "t:sections.all.icon.options__shield_exclamation.label"
            },
            {
              "value": "shopping_bag",
              "label": "t:sections.all.icon.options__shopping_bag.label"
            },
            {
              "value": "shopping_cart",
              "label": "t:sections.all.icon.options__shopping_cart.label"
            },
            {
              "value": "sort_ascending",
              "label": "t:sections.all.icon.options__sort_ascending.label"
            },
            {
              "value": "sort_descending",
              "label": "t:sections.all.icon.options__sort_descending.label"
            },
            {
              "value": "sparkles",
              "label": "t:sections.all.icon.options__sparkles.label"
            },
            {
              "value": "speakerphone",
              "label": "t:sections.all.icon.options__speakerphone.label"
            },
            {
              "value": "star",
              "label": "t:sections.all.icon.options__star.label"
            },
            {
              "value": "status_offline",
              "label": "t:sections.all.icon.options__status_offline.label"
            },
            {
              "value": "status_online",
              "label": "t:sections.all.icon.options__status_online.label"
            },
            {
              "value": "stop",
              "label": "t:sections.all.icon.options__stop.label"
            },
            {
              "value": "sun",
              "label": "t:sections.all.icon.options__sun.label"
            },
            {
              "value": "support",
              "label": "t:sections.all.icon.options__support.label"
            },
            {
              "value": "switch_horizontal",
              "label": "t:sections.all.icon.options__switch_horizontal.label"
            },
            {
              "value": "switch_vertical",
              "label": "t:sections.all.icon.options__switch_vertical.label"
            },
            {
              "value": "table",
              "label": "t:sections.all.icon.options__table.label"
            },
            {
              "value": "tag",
              "label": "t:sections.all.icon.options__tag.label"
            },
            {
              "value": "template",
              "label": "t:sections.all.icon.options__template.label"
            },
            {
              "value": "terminal",
              "label": "t:sections.all.icon.options__terminal.label"
            },
            {
              "value": "thumb_down",
              "label": "t:sections.all.icon.options__thumb_down.label"
            },
            {
              "value": "thumb_up",
              "label": "t:sections.all.icon.options__thumb_up.label"
            },
            {
              "value": "ticket",
              "label": "t:sections.all.icon.options__ticket.label"
            },
            {
              "value": "translate",
              "label": "t:sections.all.icon.options__translate.label"
            },
            {
              "value": "trash",
              "label": "t:sections.all.icon.options__trash.label"
            },
            {
              "value": "trending_down",
              "label": "t:sections.all.icon.options__trending_down.label"
            },
            {
              "value": "trending_up",
              "label": "t:sections.all.icon.options__trending_up.label"
            },
            {
              "value": "truck",
              "label": "t:sections.all.icon.options__truck.label"
            },
            {
              "value": "upload",
              "label": "t:sections.all.icon.options__upload.label"
            },
            {
              "value": "user_add",
              "label": "t:sections.all.icon.options__user_add.label"
            },
            {
              "value": "user_circle",
              "label": "t:sections.all.icon.options__user_circle.label"
            },
            {
              "value": "user_group",
              "label": "t:sections.all.icon.options__user_group.label"
            },
            {
              "value": "user",
              "label": "t:sections.all.icon.options__user.label"
            },
            {
              "value": "users",
              "label": "t:sections.all.icon.options__users.label"
            },
            {
              "value": "variable",
              "label": "t:sections.all.icon.options__variable.label"
            },
            {
              "value": "video_games",
              "label": "t:sections.all.icon.options__video_games.label"
            },
            {
              "value": "video_camera",
              "label": "t:sections.all.icon.options__video_camera.label"
            },
            {
              "value": "view_boards",
              "label": "t:sections.all.icon.options__view_boards.label"
            },
            {
              "value": "view_grid_add",
              "label": "t:sections.all.icon.options__view_grid_add.label"
            },
            {
              "value": "view_grid",
              "label": "t:sections.all.icon.options__view_grid.label"
            },
            {
              "value": "view_list",
              "label": "t:sections.all.icon.options__view_list.label"
            },
            {
              "value": "volume_off",
              "label": "t:sections.all.icon.options__volume_off.label"
            },
            {
              "value": "volume_up",
              "label": "t:sections.all.icon.options__volume_up.label"
            },
            {
              "value": "washing_machine",
              "label": "t:sections.all.icon.options__washing_machine.label"
            },
            {
              "value": "watch",
              "label": "t:sections.all.icon.options__watch.label"
            },
            {
              "value": "wifi",
              "label": "t:sections.all.icon.options__wifi.label"
            },
            {
              "value": "x_circle",
              "label": "t:sections.all.icon.options__x_circle.label"
            },
            {
              "value": "x",
              "label": "t:sections.all.icon.options__x.label"
            },
            {
              "value": "zoom_in",
              "label": "t:sections.all.icon.options__zoom_in.label"
            },
            {
              "value": "zoom_out",
              "label": "t:sections.all.icon.options__zoom_out.label"
            }
          ],
          "default": "cellphone",
          "label": "t:sections.all.icon.label"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "t:sections.main-collection-icon.blocks.subcollection_icon.settings.custom_icon.label"
        }
      ]
    }
  ]
}
{% endschema %}
