{{ 'section-main-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
<script src="{{ 'details-accordion.js' | asset_url }}" defer="defer"></script>
{%- if section.settings.show_shipping_calculator or request.design_mode -%}
  <script src="{{ 'shipping-calculator.js' | asset_url }}" defer="defer"></script>
{%- endif -%}  
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- assign heading_title = 'sections.cart.title' | t -%}
{%- render 'page-title', heading_title: heading_title -%}
<div class="section-{{ section.id }}-padding{% if cart == empty %} is-empty{% endif %} cart-page" id="main-cart">
  <div class="page-width">
    <div class="cart__warnings">
      <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
      <a href="{{ routes.all_products_collection_url }}" class="button">
        {{ 'general.continue_shopping' | t }}
      </a>

      {%- if shop.customer_accounts_enabled and customer == nil -%}
        <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
        <p class="cart__login-paragraph">
          {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
        </p>
      {%- endif -%}
    </div>
    <div class="cart-page__content">
      <div class="cart-page__content__left">
        <cart-items id="main-cart-items" data-id="{{ section.id }}">
          <div class="js-contents">
            <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
              <div class="cart__items">
                {%- if cart != empty -%}
                  <table class="cart-items">
                    <caption class="visually-hidden">{{ 'sections.cart.title' | t }}</caption>
                    <thead class="small-hide medium-hide">
                      <tr>
                        <th class="font-body-bold text-small left" colspan="2" scope="col">{{ 'sections.cart.headings.product' | t }}</th>
                        <th class="medium-hide large-up-hide font-body-bold text-small left" colspan="1" scope="col">{{ 'sections.cart.headings.total' | t }}</th>
                        <th class="cart-items__heading--wide font-body-bold text-small left" colspan="1" scope="col">{{ 'sections.cart.headings.quantity' | t }}</th>
                        <th class="small-hide font-body-bold text-small left" colspan="1" scope="col">{{ 'sections.cart.headings.total' | t }}</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {%- for item in cart.items -%}
                        <tr class="cart-item" id="CartItem-{{ item.index | plus: 1 }}">
                          <td class="cart-item__media">
                            {% if item.image %}
                              {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                              <a href="{{ item.url }}" class="cart-item__link cart-item__image-container media media--{{ section.settings.image_ratio }} global-media-settings{% if section.settings.image_ratio == 'adapt' %} ratio{% endif %}" aria-hidden="true" tabindex="-1"{% if section.settings.image_ratio == 'adapt' %} style="--ratio-percent: {{ 1 | divided_by: item.image.aspect_ratio | times: 100 }}%"{% endif %}>
                                <img src="{{ item.image | image_url: width: 300 }}"
                                  class="cart-item__image"
                                  alt="{{ item.image.alt | escape }}"
                                  loading="lazy"
                                  width="100"
                                  height="{{ 100 | divided_by: item.image.aspect_ratio | ceil }}"
                                >
                              </a>  
                            {% endif %}
                          </td>

                          <td class="cart-item__details">
                            {%- if section.settings.show_vendor -%}
                              <p class="caption light cart-item__vendor">{{ item.product.vendor }}</p>
                            {%- endif -%}

                            <a href="{{ item.url }}" class="cart-item__name h4 font-heading-bold">{{ item.product.title | escape }}</a>

                            {%- if item.original_price != item.final_price -%}
                              <div class="cart-item__discounted-prices small-hide medium-hide">
                                <span class="visually-hidden">
                                  {{ 'products.product.price.regular_price' | t }}
                                </span>
                                <s class="cart-item__old-price product-option">
                                  {%- render 'price-format', price: item.original_price -%}
                                </s>
                                <span class="visually-hidden">
                                  {{ 'products.product.price.sale_price' | t }}
                                </span>
                                <strong class="cart-item__final-price product-option">
                                  {%- render 'price-format', price: item.final_price -%}
                                </strong>
                              </div>
                            {%- else -%}
                              <div class="product-option small-hide medium-hide">
                                {%- render 'price-format', price: item.original_price -%}
                              </div>
                            {%- endif -%}

                            {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                              <dl>
                                {%- if item.product.has_only_default_variant == false -%}
                                  {%- for option in item.options_with_values -%}
                                    <div class="product-option light">
                                      <dt>{{ option.name }}: </dt>
                                      <dd>{{ option.value }}</dd>
                                    </div>
                                  {%- endfor -%}
                                {%- endif -%}

                                {%- for property in item.properties -%}
                                  {%- assign property_first_char = property.first | slice: 0 -%}
                                  {%- if property.last != blank and property_first_char != '_' -%}
                                    <div class="product-option">
                                      <dt>{{ property.first }}: </dt>
                                      <dd>
                                        {%- if property.last contains '/uploads/' -%}
                                          <a href="{{ property.last }}" class="link" target="_blank">
                                            {{ property.last | split: '/' | last }}
                                          </a>
                                        {%- else -%}
                                          {{ property.last }}
                                        {%- endif -%}
                                      </dd>
                                    </div>
                                  {%- endif -%}
                                {%- endfor -%}
                              </dl>

                              <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                            {%- endif -%}

                            <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                              {%- for discount in item.discounts -%}
                                <li class="discounts__discount">
                                  {%- render 'icon-discount' -%}
                                  {{ discount.title }}
                                </li>
                              {%- endfor -%}
                            </ul>

                            <div class="cart-item__error hidden small-hide medium-hide" id="Line-item-error-2-{{ item.index | plus: 1 }}" role="alert">
                              <div class="alert alert--error alert--small margin-top-1rem">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                                  <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                  <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                  <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                  <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                                </svg>
                                <small class="cart-item__error-text"></small>
                              </div>
                            </div>
                          </td>

                          <td class="cart-item__quantity flex flex-wrap align-start">
                            <div class="cart-item__quantity-wrapper w100 flex justify-space-between align-center cart-item__quantity-wrapper--table por">
                              <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                                {{ 'products.product.quantity.label' | t }}
                              </label>

                              <quantity-input class="quantity flex align-center color-foreground por">
                                <input class="quantity__input flex-grow-1 center background-input"
                                    type="number"
                                    name="updates[]"
                                    value="{{ item.quantity }}"
                                    id="Quantity-{{ item.index | plus: 1 }}"
                                    min="0"
                                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                    data-index="{{ item.index | plus: 1 }}"
                                  >
                                <div class="quantity__buttons flex flex-column flex-grow-1 small-hide">    
                                  <button class="quantity__button flex justify-center align-center no-js-hidden w100 color-foreground" name="plus" type="button">
                                    <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                                    <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M10.6666 5.33331L5.99992 0.666646L1.33325 5.33331" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                  </button>
                                  <button class="quantity__button flex justify-center align-center no-js-hidden w100 color-foreground" name="minus" type="button">
                                    <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                                    {%- unless item.quantity == 1 -%}
                                      <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.6666 1.16663L5.99992 5.83329L1.33325 1.16663" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>
                                    {%- else -%}
                                      {%- render 'icon-remove', icon_width: 16 -%}
                                    {%- endunless -%}
                                  </button>
                                </div>
                              </quantity-input>
                              <div class="por">
                                <div class="loading-overlay hidden flex justify-right align-center large-up-hide">
                                  <div class="loading-overlay__spinner">
                                    {%- render 'icon-cart-loading' -%}
                                  </div>
                                </div>
    
                                <cart-remove-button data-index="{{ item.index | plus: 1 }}" class="large-up-hide">
                                  <a href="{{ item.url_to_remove }}" class="link align-center justify-right por tap-area-icon" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                                    {% render 'icon-remove' %}
                                  </a>
                                </cart-remove-button>
                              </div>
                            </div>
                          </td>

                          <td class="cart-item__totals flex justify-space-between align-center">
                            <div class="cart-item__price-wrapper">
                              {%- if item.original_line_price != item.final_line_price -%}
                                <dl class="cart-item__discounted-prices">
                                  <dt class="visually-hidden">
                                    {{ 'products.product.price.regular_price' | t }}
                                  </dt>
                                  <dd>
                                    <s class="cart-item__old-price price price--end">
                                      {%- render 'price-format', price: item.original_line_price -%}
                                    </s>
                                  </dd>
                                  <dt class="visually-hidden">
                                    {{ 'products.product.price.sale_price' | t }}
                                  </dt>
                                  <dd class="price price--end">
                                    {%- render 'price-format', price: item.final_line_price -%}
                                  </dd>
                                </dl>
                              {%- else -%}
                                <span class="price price--end">
                                  {%- render 'price-format', price: item.original_line_price -%}
                                </span>
                              {%- endif -%}

                              {%- if item.variant.available and item.unit_price_measurement -%}
                                <div class="unit-price caption">
                                  <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                  {%- render 'price-format', price: item.variant.unit_price -%}
                                  <span aria-hidden="true">/</span>
                                  <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                                  {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                    {{- item.variant.unit_price_measurement.reference_value -}}
                                  {%- endif -%}
                                  {{ item.variant.unit_price_measurement.reference_unit }}
                                </div>
                              {%- endif -%}
                            </div>
                          </td>
                          <td class="small-hide medium-hide">
                            <div class="por">
                              <div class="loading-overlay hidden flex justify-right align-start">
                                <div class="loading-overlay__spinner">
                                  {%- render 'icon-cart-loading' -%}
                                </div>
                              </div>

                              <cart-remove-button data-index="{{ item.index | plus: 1 }}">
                                <a href="{{ item.url_to_remove }}" class="link align-center justify-right por tap-area-icon" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                                  {% render 'icon-remove' %}
                                </a>
                              </cart-remove-button>
                            </div>
                          </td>
                          <td class="cart-item__error hidden large-up-hide" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
                            <div class="alert alert--error alert--small">
                              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                                <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                              </svg>
                              <small class="cart-item__error-text"></small>
                            </div>
                          </td>
                        </tr>
                      {%- endfor -%}
                    </tbody>
                  </table>
                {%- endif -%}
              </div>

              <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
              <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
            </form>
          </div>
        </cart-items>  
        {%- if section.settings.show_cart_note -%}
          <div class="cart__textarea-wrap cart__note-wrap element-small-margin-top">
            <details-accordion class="db" {{ block.shopify_attributes }}>
              <details id="Details-note-{{ section.id }}">
                <summary class="summary-accordion summary-accordion--has-hover flex justify-space-between align-center por">
                  <div class="summary__title flex align-center flex-grow-1">
                    {%- render 'icon-pen', icon_width: 20 -%}
                    <label for="Cart-note" class="h5 accordion__title margin0">
                      {{ 'sections.cart.note' | t }}
                    </label>
                  </div>
                  <div class="summary-accordion__plus-minus-wrapper flex justify-center align-center">
                    <span class="summary-accordion__plus-minus por flex justify-center align-center">
                      <span class="summary-accordion__icon-line"></span>
                      <span class="summary-accordion__icon-line"></span>
                    </span>
                  </div>
                </summary>
                <div id="CollapsibleAccordion-note-{{ section.id }}" role="region" aria-labelledby="Summary-note-{{ section.id }}">
                  <cart-note class="cart__textarea-wrap__content cart__note field db">
                    <textarea class="text-area field__input" name="note" form="cart" id="Cart-note" placeholder="{{ 'sections.cart.note' | t }}">{{ cart.note }}</textarea>
                  </cart-note>
                </div>
              </details>
            </details-accordion> 
          </div>  
        {%- endif -%}
      </div>
      
      <div class="cart__footer cart-page__content__right por" id="main-cart-footer">
        <h2 class="cart__footer__title w100 margin0 font-heading-bold h3">{{ 'sections.cart.cart_totals' | t }}</h2>
        <div class="cart__blocks w100">
          {% for block in section.blocks %}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'subtotal' -%}
                {%- if section.settings.show_shipping_calculator -%} 
                  <details-accordion class="cart__blocks__shipping-calculator db">
                    <details id="Details-{{ block.id }}-{{ section.id }}">
                      <summary class="summary-accordion summary-accordion--has-hover flex justify-space-between align-center por">
                        <div class="summary__title flex align-center flex-grow-1">
                          <h3 class="h5 accordion__title margin0">
                            {{ 'general.shipping_calculator.heading' | t }}
                          </h3>
                        </div>
                        <div class="summary-accordion__plus-minus-wrapper flex justify-center align-center">
                          <span class="summary-accordion__plus-minus por flex justify-center align-center">
                            <span class="summary-accordion__icon-line"></span>
                            <span class="summary-accordion__icon-line"></span>
                          </span>
                        </div>
                      </summary>
                      <div id="CollapsibleAccordion-{{ block.id }}-{{ section.id }}" role="region" aria-labelledby="Summary-{{ block.id }}-{{ section.id }}">
                        {%- render 'shipping-calculator', add_classes: 'cart__blocks__shipping-calculator-content db' -%} 
                      </div>
                    </details>
                  </details-accordion>  
                {%- endif -%}

                <div class="cart__footer__js-contents" {{ block.shopify_attributes }}>
                  <div class="totals flex justify-space-between align-end">
                    <h2 class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}</h2>
                    <p class="totals__subtotal-value price font-body-semi-bold">{%- render 'price-format', price: cart.total_price -%}</p>
                  </div>

                  <div>
                    {%- if cart.cart_level_discount_applications.size > 0 -%}
                      <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                        {%- for discount in cart.cart_level_discount_applications -%}
                          <li class="discounts__discount discounts__discount--position">
                            {%- render 'icon-discount' -%}
                            {{ discount.title }}
                            (-{{ discount.total_allocated_amount | money }})
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </div>

                  <small class="tax-note text-small rte db margin-top-1rem">
                    {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                      {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- elsif cart.taxes_included -%}
                      {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                    {%- elsif shop.shipping_policy.body != blank -%}
                      {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                    {%- else -%}
                      {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                    {%- endif -%}
                  </small>
                </div>
              {%- when 'free-shipping-bar' -%}
                {%- render 'free-shipping-bar', wrapper_classes: 'cart__free-shipping-bar', no_background: true -%}
              {%- else -%}
                <div class="cart__ctas" {{ block.shopify_attributes }}>
                  <noscript>
                    <button type="submit" class="cart__update-button button button--secondary" form="cart">
                      <span>{{ 'sections.cart.update' | t }}</span>
                    </button>
                  </noscript>

                  <button type="submit" id="checkout" class="cart__checkout-button button button--primary" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
                    {%- render 'icon-lock' -%}
                    <span>{{ 'sections.cart.checkout' | t }}</span>
                  </button>
                </div>

                {%- if additional_checkout_buttons -%}
                  <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                    {{ content_for_additional_checkout_buttons }}
                  </div>
                {%- endif -%}  
            {%- endcase -%}
          {% endfor %}

          <div id="cart-errors" class="cart-errors alert alert--error margin-top-1rem flex hidden">
            <span class="cart-item__error-text"></span>
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
              <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
              <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
              <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
              <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>
{% javascript %}
  document.addEventListener('DOMContentLoaded', function() {
    const stickyHeader = document.querySelector('sticky-header');
    if(stickyHeader) {
      stickyHeader.setupWindowResizeEvent();
    }
  });
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.main-cart.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:settings_schema.cart.settings.show_vendor.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "label": "t:settings_schema.cart.settings.show_cart_note.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_shipping_calculator",
      "label": "t:settings_schema.cart.settings.show_shipping_calculator.label",
      "default": false
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:sections.all.image_ratio.label",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.image_ratio.option_1.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.image_ratio.option_2.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image_ratio.option_3.label"
        }
      ],
      "default": "square"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "free-shipping-bar",
      "name": "t:sections.main-cart-footer.blocks.free-shipping-bar.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-cart-footer.blocks.free-shipping-bar.settings.hint.content"
        }
      ],
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}