{{ 'price-section.css' | asset_url | stylesheet_tag }}

<div class="section-container">
  <div class="page-width">
      <div class="price-section">
          <h2 class="price-section__title">{{ section.settings.section_title }}</h2>
          <p class="price-section__text">{{ section.settings.section_text }}</p>
          <div class="price-section__info">
            <div class="price-section__info-price-box">
              {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large flex align-center', show_in_card: false -%}
              <p class="price-section__info-price-box-desc">{{ section.settings.section_desc }}</p>
              <product-form class="product-form" data-hide-errors="{{ gift_card_recipient_feature_active }}">
                  <div class="product-form__error-message-wrapper alert alert--error alert--no-button" role="alert" hidden>
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                      <circle cx="6.5" cy="6.5" r="5.5" fill="currentColor" stroke="currentColor" stroke-width="0.7"/>
                      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                    </svg>
                    <span class="product-form__error-message"></span>
                  </div>
                  {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                    <div class="product-form__buttons product-form__buttons--input{% unless block.settings.quantity_selector_enable %} product-form__buttons--no-quantity{% endunless %}">
                      <button
                        style="background-color: {{ section.settings.main_color }}"
                        type="submit"
                        name="add"
                        class="product-form__submit button flex w100 cart-submit-button button--bold"
                        {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                        id="card-submit-button-{{ section.id }}"
                      >
                        <span>
                          {%- if product.selected_or_first_available_variant.available -%}
                            BUY NOW
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                        <div class="loading-overlay__spinner hidden">
                          {%- render 'icon-cart-loading' -%}
                        </div>
                      </button>
                    </div>
                  {%- endform -%}
                </product-form> 
              </div>
              <div class="features-section">
                  <h3 class="features-section__title">{{ section.settings.features_title }}</h3>
                  <div>
                    <div class="features-section__item">
                      <div class="features-section__item-icon-container">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="{{ section.settings.main_color }}" xmlns="http://www.w3.org/2000/svg">
                          <path d="M11.3465 2.66651H20.6533C20.9633 2.66643 21.2009 2.66638 21.4086 2.6867C22.8857 2.83119 24.0948 3.71927 24.6074 4.91554H7.39233C7.90501 3.71927 9.11403 2.83119 10.5911 2.6867C10.7989 2.66638 11.0365 2.66643 11.3465 2.66651Z" fill="#C6F33F"/>
                          <path d="M8.41414 6.29688C6.55996 6.29688 5.03962 7.41654 4.53224 8.90193C4.52167 8.93289 4.51152 8.96402 4.50183 8.99529C5.0327 8.83453 5.58519 8.7295 6.14447 8.65781C7.58498 8.47313 9.40543 8.47322 11.5201 8.47334H20.7096C22.8242 8.47322 24.6448 8.47313 26.0853 8.65781C26.6445 8.7295 27.197 8.83453 27.7278 8.99529C27.7182 8.96402 27.7081 8.93289 27.6974 8.90193C27.1901 7.41654 25.6697 6.29688 23.8156 6.29688H8.41414Z" fill="#C6F33F"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M20.4368 10.0562H11.5631C7.0634 10.0562 4.81352 10.0562 3.54972 11.3719C2.28592 12.6877 2.58327 14.7205 3.17797 18.7862L3.74193 22.6416C4.20831 25.83 4.44149 27.4241 5.63775 28.3788C6.834 29.3334 8.59836 29.3334 12.1271 29.3334H19.8728C23.4016 29.3334 25.166 29.3334 26.3622 28.3788C27.5585 27.4241 27.7916 25.83 28.258 22.6416L28.822 18.7862C29.4166 14.7206 29.714 12.6877 28.4502 11.3719C27.1864 10.0562 24.9365 10.0562 20.4368 10.0562ZM19.4416 21.059C20.1861 20.5976 20.1861 19.4026 19.4416 18.9412L14.9461 16.1542C14.2225 15.7057 13.3333 16.2896 13.3333 17.2133V22.7869C13.3333 23.7106 14.2225 24.2945 14.9461 23.846L19.4416 21.059Z" fill="#C6F33F"/>
                        </svg>
                      </div>
                      <p class="features-section__item-desc">{{ section.settings.feature_desc_1 }}</p>
                    </div>
                    <div class="features-section__item">
                      <div class="features-section__item-icon-container">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="{{ section.settings.main_color }}" xmlns="http://www.w3.org/2000/svg">
                          <path d="M17.7 7.3C17.5 7.1 17.3 7 17 7C16.7 7 16.5 7.1 16.3 7.3C16.1 7.5 16 7.7 16 8C16 8.3 16.1 8.5 16.3 8.7C16.7 9.1 17.3 9.1 17.7 8.7C17.9 8.5 18 8.3 18 8C18 7.7 17.9 7.5 17.7 7.3Z"/>
                          <path d="M17 0C12.6 0 9 3.6 9 8C9 12.4 12.6 16 17 16C21.4 16 25 12.4 25 8C25 3.6 21.4 0 17 0ZM20 8C20 8.5 19.9 8.9 19.7 9.3L20.5 10.1C20.9 10.5 20.9 11.1 20.5 11.5C20.3 11.7 20 11.8 19.8 11.8C19.6 11.8 19.3 11.7 19.1 11.5L18.3 10.7C17.9 10.9 17.4 11 17 11C16.6 11 16.1 10.9 15.7 10.7L14.9 11.5C14.7 11.7 14.4 11.8 14.2 11.8C14 11.8 13.7 11.7 13.5 11.5C13.1 11.1 13.1 10.5 13.5 10.1L14.3 9.3C14.1 8.9 14 8.5 14 8C14 7.5 14.1 7.1 14.3 6.7L13.5 5.9C13.1 5.5 13.1 4.9 13.5 4.5C13.9 4.1 14.5 4.1 14.9 4.5L15.7 5.3C16.5 4.9 17.5 4.9 18.3 5.3L19.1 4.5C19.5 4.1 20.1 4.1 20.5 4.5C20.9 4.9 20.9 5.5 20.5 5.9L19.7 6.7C19.9 7.1 20 7.5 20 8Z"/>
                          <path d="M16.1 7.6L16.3 7.3L16.6 7.2C16.9 7.1 17.2 7.1 17.5 7.2L17.8 7.3L18 7.6C18 7.7 18 7.9 18 8C18 8.1 18 8.3 17.9 8.4L17.7 8.7L17.4 8.8C17.1 8.9 16.8 8.9 16.5 8.8L16.2 8.7L16 8.4C16 8.3 16 8.1 16 8C16 7.9 16 7.7 16.1 7.6Z"/>
                          <path d="M26.7 18.1L25.5 16.2C25 15.4 24.5 14.5 24.1 13.6C22.6 15.5 20.5 16.8 18 17C18 17.1 18 17.2 18 17.3C19 18 19.8 19 20.4 20.1C20.6 20.6 20.4 21.2 19.9 21.4C19.8 21.5 19.6 21.5 19.5 21.5C19.1 21.5 18.8 21.3 18.6 20.9C18.1 19.8 17.3 19 16.3 18.5C15.4 18.1 14.4 17.9 13.4 17.9H11.4C11 16.9 10.4 16 9.59997 15.2C8.09997 13.8 6.09997 13 3.99997 13C3.59997 13 3.19997 13.3 3.09997 13.7L2.39997 15.9C0.399968 22 2.99997 28.7 8.59997 31.9C8.69997 32 8.79997 32 8.99997 32C9.09997 32 9.19997 32 9.29997 32C9.59997 31.9 9.79997 31.7 9.89997 31.5L10.4 30.4C13.6 32 17.4 32 20.7 30.5L28.4 26.9C28.8 26.7 29 26.4 29 26C29 23.2 28.2 20.5 26.7 18.1Z"/>
                        </svg>
                      </div>
                      <p class="features-section__item-desc">{{ section.settings.feature_desc_2 }}</p>
                    </div>
                    <div class="features-section__item">
                      <div class="features-section__item-icon-container">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="{{ section.settings.main_color }}" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_93_1099)">
                          <path d="M22.9643 10.0077V8.35066H24.3539C25.1237 8.35066 25.7435 7.72436 25.7435 6.96106V1.3896C25.7435 0.619776 25.1172 0 24.3539 0H7.65255C6.88272 0 6.26295 0.619776 6.26295 1.3896V6.95454C6.26295 7.72436 6.88925 8.34414 7.65255 8.34414H9.04215V10.0012C6.63481 10.7189 4.86682 12.924 4.86682 15.5596V26.1741C4.86682 29.3839 7.48293 32 10.6927 32H21.3072C24.5235 32 27.1331 29.3839 27.1331 26.1741V15.5662C27.1396 12.9305 25.3651 10.7254 22.9643 10.0077ZM18.7628 21.0006C18.7563 21.0919 18.7367 21.1833 18.7041 21.2746C18.678 21.366 18.6454 21.4508 18.5997 21.5356C18.5802 21.5747 18.5736 21.6139 18.5541 21.653L15.7684 25.8283C15.5009 26.2328 15.0572 26.4481 14.6071 26.4481C14.3396 26.4481 14.0721 26.3698 13.8373 26.2132C13.1979 25.7892 13.0283 24.9215 13.4523 24.2822L14.7963 22.2728H13.224C13.0609 22.2728 12.9043 22.2336 12.7412 22.1749C12.6956 22.1553 12.6499 22.1358 12.6042 22.1097C12.552 22.0836 12.4998 22.0705 12.4542 22.0379C12.415 22.0118 12.3955 21.9727 12.3628 21.9401C12.2846 21.8813 12.2258 21.8161 12.1606 21.7378C12.1019 21.6661 12.0562 21.6008 12.0171 21.5225C11.9779 21.4442 11.9453 21.366 11.9192 21.2811C11.8931 21.1898 11.8735 21.0985 11.8605 21.0071C11.854 20.9615 11.8344 20.9223 11.8344 20.8767C11.8344 20.831 11.854 20.7918 11.8605 20.7527C11.867 20.6614 11.8866 20.57 11.9192 20.4787C11.9453 20.3874 11.9779 20.3025 12.0236 20.2177C12.0432 20.1786 12.0497 20.1394 12.0693 20.1003L14.855 15.925C15.2791 15.2856 16.1467 15.1095 16.7861 15.5401C17.4254 15.9641 17.5951 16.8318 17.171 17.4711L15.8271 19.4805H17.3993C17.445 19.4805 17.4776 19.5001 17.5233 19.5066C17.6212 19.5131 17.706 19.5327 17.7973 19.5653C17.8886 19.5914 17.9734 19.6241 18.0517 19.6697C18.0909 19.6893 18.13 19.6958 18.1692 19.7154C18.2083 19.7415 18.2279 19.7806 18.2605 19.8067C18.3388 19.8654 18.3975 19.9307 18.4627 20.009C18.5215 20.0807 18.5671 20.146 18.6063 20.2243C18.6454 20.3025 18.678 20.3808 18.7041 20.4656C18.7302 20.557 18.7498 20.6483 18.7628 20.7397C18.7694 20.7853 18.7889 20.8245 18.7889 20.8701C18.7889 20.9223 18.7628 20.9549 18.7628 21.0006ZM20.1785 9.74026H11.8279V8.35066H20.1785V9.74026Z"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_93_1099">
                          <rect width="32" height="32" fill="white"/>
                          </clipPath>
                          </defs>
                        </svg>
                      </div>
                      <p class="features-section__item-desc">{{ section.settings.feature_desc_3 }}</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>

{% schema %}
  {
  "name": "👾Price Section",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "main_color",
      "label": "Main Color"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    },
    {
      "type": "textarea",
      "id": "section_text",
      "label": "Section Text"
    },
    {
      "type": "textarea",
      "id": "section_desc",
      "label": "Section Desc"
    },
    {
      "type": "text",
      "id": "features_title",
      "label": "Features Title"
    },
    {
      "type": "textarea",
      "id": "feature_desc_1",
      "label": "1 Feature Desc"
    },
    {
      "type": "textarea",
      "id": "feature_desc_2",
      "label": "2 Feature Desc"
    },
    {
      "type": "textarea",
      "id": "feature_desc_3",
      "label": "3 Feature Desc"
    }
  ],
  "presets": [
    {
      "name": "👾Price Section"
    }
  ]
}
{% endschema %}