<div class="assets">
  {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'product-recommendation.js' | asset_url }}" defer="defer"></script>
  {{ 'component-rating.css' | asset_url | stylesheet_tag }}

  {%- if section.settings.enable_quick_add -%}
    <link rel="stylesheet" href="{{ 'component-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
</div>
{%- capture sizes -%}
  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)
{%- endcapture -%}
<div class="results">
  <div class="compare-popup no-js-hidden">
    <table>
      {%- for block in section.blocks -%}
        <tr>
          <th>{{ block.settings.title }}</th>
          {%- for c_product in search.results -%}
            {%-liquid
              assign product_form_id = 'compare-form-' | append: section.id | append: '-' | append: c_product.id
              assign section_id = section.id | append: '-' | append: c_product.id
              assign product_url = c_product.url | split: '?' | first
            -%}
            
            <td class="product-compare-{{ c_product.id }}">
              {%- case block.type -%}
                {%- when 'featured_image' -%}
                  <div class="compare-popup__media-wrapper">
                    <a href="{{ product_url }}" class="media media--{{ block.settings.image_ratio }}" id="featured-image-{{ section_id }}" aria-labelledby="product-compare-title-{{ section.id }}-{{ c_product.id }}">
                      {%- liquid
                        assign product_image_url = c_product.featured_media | image_url: width: 50
                        assign srcset = product_image_url | append: ' 50w'
                        if c_product.featured_media.width >= 165
                          assign product_image_url = c_product.featured_media | image_url: width: 165
                          assign srcset = srcset | append: ', ' | append: product_image_url | append: ' 165w'
                        endif
                        if c_product.featured_media.width >= 360
                          assign product_image_url = c_product.featured_media | image_url: width: 360
                          assign srcset = srcset | append: ', ' | append: product_image_url | append: ' 360w'
                        endif
                        if c_product.featured_media.width >= 430
                          assign product_image_url = c_product.featured_media | image_url: width: 450
                          assign srcset = srcset | append: ', ' | append: product_image_url | append: ' 450w'
                        endif
                      -%}
                      {{ c_product.featured_media | image_url: width: 300 | image_tag: sizes: sizes, srcset: srcset, width: c_product.featured_media.width, height: c_product.featured_media.height, class: 'motion-reduce', loading: 'lazy' }}
                    </a>
                    <compare-remove-button class="db margin-top-1rem">
                      <a href="#" class="compare-popup__remove-link link flex justify-center align-center" data-product-id="{{ c_product.id }}">
                        <span class="underlined-link">{{ 'templates.compare.remove' | t }}</span>
                      </a>
                    </compare-remove-button>
                  </div>
                {%- when 'vendor' -%}
                  <a href="{{ c_product.vendor | url_for_vendor }}" class="link color-foreground db w100 link light">{{ 'products.product.by_vendor_html' | t: vendor: c_product.vendor }}</a>  
                {%- when 'title' -%}
                  <a href="{{ product_url }}" class="h4 link" id="product-compare-title-{{ section.id }}-{{ c_product.id }}">{{ c_product.title }}</a>
                {%- when 'price' -%}
                  <div class="no-js-hidden" id="price-{{ section_id }}" role="status">
                    {%- render 'price', product: c_product, use_variant: true, show_badges: false, price_class: 'price--large flex align-center', show_in_card: false -%}
                  </div>
                {%- when 'description' -%}
                  <div class="compare-popup__description rte">{{ c_product.description }}</div>
                {%- when 'options' -%}
                  {%-liquid
                    assign product_url = c_product.url | split: '?' | first
                  -%}
                  <div data-custom-section-id="{{ section_id }}">
                    {%- render 'main-product-variant-picker', product: c_product, block: block, product_form_id: product_form_id, product_url: product_url, prefix_variant: 'compare-', section_id: section_id -%}
                  </div>
                {%- when 'availability' -%}
                  <div id="inventory-{{ section_id }}">
                    {%- liquid
                      if c_product.selected_or_first_available_variant.inventory_management == 'shopify'
                        if c_product.selected_or_first_available_variant.inventory_quantity > 0
                          if c_product.selected_or_first_available_variant.inventory_quantity <= settings.inventory_threshold_product_compare
                            if settings.show_inventory_quantity_product_compare
                              echo 'products.product.inventory_low_stock_show_count' | t: quantity: c_product.selected_or_first_available_variant.inventory_quantity
                            else
                              echo 'products.product.inventory_low_stock' | t
                            endif
                          else
                            if settings.show_inventory_quantity_product_compare
                              echo 'products.product.inventory_in_stock_show_count' | t: quantity: c_product.selected_or_first_available_variant.inventory_quantity
                            else
                              echo 'products.product.inventory_in_stock' | t
                            endif
                          endif
                        else
                          if c_product.selected_or_first_available_variant.inventory_policy == 'continue'
                            echo 'products.product.inventory_out_of_stock_continue_selling' | t
                          else
                            echo 'products.product.inventory_out_of_stock' | t
                          endif
                        endif
                      endif
                    -%}
                  </div>
                {%- when 'add_to_cart' -%}
                  <product-form class="product-form" id="product-form-{{ section_id }}">
                    <div class="product-form__error-message-wrapper alert alert--error alert--small" role="alert" hidden>
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                        <circle cx="6.5" cy="6.5" r="5.5" fill="currentColor" stroke="currentColor" stroke-width="0.7"/>
                        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="currentColor" stroke-width="0.7">
                      </svg>
                      <span class="product-form__error-message"></span>
                    </div>
    
                    {%- form 'product', c_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                      <input type="hidden" name="id" value="{{ c_product.selected_or_first_available_variant.id }}" disabled>
                      <div class="product-form__buttons product-form__buttons--input product-form__buttons-single product-form__buttons--compare">
                        {%- if block.settings.show_quantity_selector -%}
                          <div class="product-form__input product-form__quantity">
                            <label class="form__label visually-hidden" for="Quantity-{{ section_id }}">
                              {{ 'products.product.quantity.label' | t }}
                            </label>
              
                            <quantity-input class="quantity flex align-center color-foreground por">
                              <input class="quantity__input flex-grow-1 center background-input"
                                  type="number"
                                  name="quantity"
                                  id="Quantity-{{ section_id }}"
                                  min="1"
                                  value="1"
                                >
                              <div class="quantity__buttons flex flex-column flex-grow-1">    
                                <button class="quantity__button flex justify-center align-center no-js-hidden w100 color-foreground" name="plus" type="button">
                                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: c_product.title | escape }}</span>
                                  <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.6666 5.33331L5.99992 0.666646L1.33325 5.33331" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                                </button>
                                <button class="quantity__button flex justify-center align-center no-js-hidden w100 color-foreground" name="minus" type="button">
                                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: c_product.title | escape }}</span>
                                  <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.6666 1.16663L5.99992 5.83329L1.33325 1.16663" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                                </button>
                              </div>
                            </quantity-input>
                          </div>
                        {%- endif -%}
                        <button
                          type="submit"
                          name="add"
                          class="product-form__submit button flex cart-submit-button"
                          {% if c_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                        >
                          {%- render 'icon-cart' -%}
                          <div class="loading-overlay__spinner hidden">
                            {%- render 'icon-cart-loading' -%}
                          </div>
                        </button>
                      </div>
                    {%- endform -%}
                  </product-form>
                {%- when 'rating' -%}
                  <div class="rating rating--in-main flex align-center" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: c_product.metafields.reviews.rating.value, rating_max: c_product.metafields.reviews.rating.value.scale_max }}">
                    <div aria-hidden="true" class="rating-star flex por" style="--rating: {{ c_product.metafields.reviews.rating.value.rating | default: 0 }}; --rating-max: {{ c_product.metafields.reviews.rating.value.scale_max | default: 5 }}; --number-gap: {% if c_product.metafields.reviews.rating.value != blank %}{{ c_product.metafields.reviews.rating.value.scale_max | minus: c_product.metafields.reviews.rating.value.rating | minus: 1.00 | at_least: 0 | ceil }}{% else %}4{% endif %};">
                      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 0.44043L11.7816 6.07563L18 6.97923L13.5 11.3652L14.562 17.5596L9 14.6352L3.438 17.5596L4.5 11.3652L0 6.97923L6.2184 6.07563L9 0.44043Z" fill="currentColor"/>
                      </svg>
                      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 0.44043L11.7816 6.07563L18 6.97923L13.5 11.3652L14.562 17.5596L9 14.6352L3.438 17.5596L4.5 11.3652L0 6.97923L6.2184 6.07563L9 0.44043Z" fill="currentColor"/>
                      </svg>
                      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 0.44043L11.7816 6.07563L18 6.97923L13.5 11.3652L14.562 17.5596L9 14.6352L3.438 17.5596L4.5 11.3652L0 6.97923L6.2184 6.07563L9 0.44043Z" fill="currentColor"/>
                      </svg>
                      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 0.44043L11.7816 6.07563L18 6.97923L13.5 11.3652L14.562 17.5596L9 14.6352L3.438 17.5596L4.5 11.3652L0 6.97923L6.2184 6.07563L9 0.44043Z" fill="currentColor"/>
                      </svg>
                      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 0.44043L11.7816 6.07563L18 6.97923L13.5 11.3652L14.562 17.5596L9 14.6352L3.438 17.5596L4.5 11.3652L0 6.97923L6.2184 6.07563L9 0.44043Z" fill="currentColor"/>
                      </svg>
                    </div>
                  </div>
                {%- when 'metafields' -%}
                  {%- if block.settings.namespace_key != blank -%}
                    {%- assign metafield_parts = block.settings.namespace_key | split: '.' -%}
                    {%- if c_product.metafields[metafield_parts[0]][metafield_parts[1]] != blank -%}
                      {{ c_product.metafields[metafield_parts[0]][metafield_parts[1]] | metafield_tag }}
                    {%- endif -%}  
                  {%- endif -%}    
              {%- endcase -%}  
            </td>
          {%- endfor -%}  
        </tr>
      {%- endfor -%}
    </table>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.product-compare.name",
  "tag": "section",
  "class": "section hidden",
  "blocks": [
    {
      "type": "featured_image",
      "name": "t:sections.product-compare.blocks.featured_image.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product-compare.blocks.all.settings.row_name.label",
          "default": "Featured image"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "label": "t:sections.all.image_ratio.label",
          "options": [
            {
              "value": "square",
              "label": "t:sections.all.image_ratio.option_2.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.all.image_ratio.option_3.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.all.image_ratio.option_4.label"
            }
          ],
          "default": "square"
        }
      ],
      "limit": 1
    },
    {
      "type": "vendor",
      "name": "t:sections.product-compare.blocks.vendor.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product-compare.blocks.all.settings.row_name.label",
          "default": "Vendor"
        }
      ],
      "limit": 1
    },
    {
      "type": "title",
      "name": "t:sections.product-compare.blocks.title.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product-compare.blocks.all.settings.row_name.label",
          "default": "Product name"
        }
      ],
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.product-compare.blocks.price.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product-compare.blocks.all.settings.row_name.label",
          "default": "Price"
        }
      ],
      "limit": 1
    },
    {
      "type": "description",
      "name": "t:sections.product-compare.blocks.description.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product-compare.blocks.all.settings.row_name.label",
          "default": "Description"
        }
      ],
      "limit": 1
    },
    {
      "type": "options",
      "name": "t:sections.product-compare.blocks.options.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product-compare.blocks.all.settings.row_name.label",
          "default": "Options"
        },
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.product-compare.blocks.options.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.product-compare.blocks.options.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.product-compare.blocks.options.settings.picker_type.label"
        },
        {
          "type": "checkbox",
          "id": "enable_color_swatches",
          "label": "t:sections.product-compare.blocks.options.settings.enable_color_swatches.label",
          "info": "t:sections.product-compare.blocks.options.settings.enable_color_swatches.info",
          "default": true
        },
        {
          "type": "select",
          "id": "color_swatches_style",
          "label": "t:sections.product-compare.blocks.options.settings.color_swatches_style.label",
          "options": [
            {
              "value": "variant",
              "label": "t:sections.product-compare.blocks.options.settings.color_swatches_style.option_1.label"
            },
            {
              "value": "custom",
              "label": "t:sections.product-compare.blocks.options.settings.color_swatches_style.option_2.label"
            }
          ],
          "default": "variant"
        }
      ],
      "limit": 1
    },
    {
      "type": "availability",
      "name": "t:sections.product-compare.blocks.availability.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product-compare.blocks.all.settings.row_name.label",
          "default": "Availability"
        }
      ],
      "limit": 1
    },
    {
      "type": "rating",
      "name": "t:sections.product-compare.blocks.rating.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product-compare.blocks.all.settings.row_name.label",
          "default": "Rating"
        }
      ],
      "limit": 1
    },
    {
      "type": "add_to_cart",
      "name": "t:sections.product-compare.blocks.add_to_cart.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product-compare.blocks.all.settings.row_name.label",
          "default": "Add to cart"
        },
        {
          "type": "checkbox",
          "id": "show_quantity_selector",
          "label": "t:sections.product-compare.blocks.add_to_cart.settings.show_quantity_selector.label",
          "default": true
        }
      ],
      "limit": 1
    },
    {
      "type": "metafields",
      "name": "t:sections.product-compare.blocks.metafields.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product-compare.blocks.all.settings.row_name.label",
          "default": "Row name"
        },
        {
          "type": "text",
          "id": "namespace_key",
          "label": "t:sections.product-compare.blocks.metafields.settings.namespace_key.label",
          "info": "t:sections.product-compare.blocks.metafields.settings.namespace_key.info"
        }
      ]
    }
  ]
}
{% endschema %}