{{ 'program-demo-section.css' | asset_url | stylesheet_tag }}

<div class="section-container">
  <div class="page-width">
    <div class="program-demo-section-bg">
      <div class="program-demo-section">
        <h2 class="program-demo-section__title">{{ section.settings.section_title }}</h2>
        <div class="program-demo-section__text-container">
          <p class="program-demo-section__text">{{ section.settings.section_text }}</p>
          <div class="program-demo-section__badge">
            <p>FOR FREE</p>
          </div>
        </div>
        <a class="program-demo-section__button" href="{{ section.settings.demo_link }}" target="_blank">DOWNLOAD</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "👾Program Demo Section",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "main_color",
      "label": "Main Color"
    },
    {
      "type": "textarea",
      "id": "section_title",
      "label": "Section Title"
    },
    {
      "type": "text",
      "id": "section_text",
      "label": "Section Text"
    },
    {
      "type": "url",
      "id": "demo_link",
      "label": "Demo Link"
    }
  ],
  "presets": [
    {
      "name": "👾Program Demo Section"
    }
  ]
}
{% endschema %}

<style>
  .section-container:has(.program-demo-section):after {
    border: 1px solid {{ section.settings.main_color }};
  }
</style>