{{ 'slider-section.css' | asset_url | stylesheet_tag }}


<div class="section-slider-container">
  <div class="page-width">
    <div class="slider-container">
      <div class="section-slider">
      <h2 class="section-slider__title">{{ section.settings.section_title }}</h2>
      <p class="section-slider__text">{{ section.settings.section_text }}</p>
        <div class="my-slick-slider">
          {% for block in section.blocks %}
              <div class="section-slider__slide">
                <img src="{{ block.settings.image | img_url: 'original' }}" width="" height="" alt="{{ block.settings.alt_tag }}">
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "👾Slider Section",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "main_color",
      "label": "Main Color"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    },
    {
      "type": "textarea",
      "id": "section_text",
      "label": "Section Text"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "alt_tag",
          "label": "Alt tag"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "👾Slider Section"
    }
  ]
}
{% endschema %}

<script type="text/javascript">
      $(document).ready(function(){
      $('.my-slick-slider').slick({
      centerMode: true,
      centerPadding: '60px',
      slidesToShow: 3,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: true,
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 1
          }
        }
      ]
    });
    });
</script>

<style>
  .slick-prev, .slick-next {
    --main-color: {{ section.settings.main_color }};
  }
</style>