{{ 'whats-included.css' | asset_url | stylesheet_tag }}

<div class="page-width" style="position: relative">
  <div class="whats-included">
      <div class="whats-included-numbers">
        <div class="whats-included-numbers-summary">
          <div class="whats-included-numbers-summary__image-container">
            <img class="whats-included-numbers-summary__image" src="{{ section.settings.section_main-image | img_url: 'original' }}" width="" height="" alt="{{ section.settings.section_title }}">
          </div>
          <div class="whats-included-numbers-summary__text" style="background-color: {{ section.settings.main_color }}">
            <p class="whats-included-numbers-summary__text-title">{{ section.settings.numbers-summary__text-title-1 }}</p>
            <p class="whats-included-numbers-summary__text-desc">{{ section.settings.numbers-summary__text-desc-1 }}</p>
          </div>
          <div class="whats-included-numbers-summary__text" style="background-color: {{ section.settings.main_color }}">
            <p class="whats-included-numbers-summary__text-title">{{ section.settings.numbers-summary__text-title-2 }}</p>
            <p class="whats-included-numbers-summary__text-desc">{{ section.settings.numbers-summary__text-desc-2 }}</p>
          </div>
          <div class="whats-included-numbers-summary__text" style="background-color: {{ section.settings.main_color }}">
            <p class="whats-included-numbers-summary__text-title">{{ section.settings.numbers-summary__text-title-3 }}</p>
            <p class="whats-included-numbers-summary__text-desc">{{ section.settings.numbers-summary__text-desc-3 }}</p>
          </div>
        </div>
        <div class="whats-included-numbers-details">
          <div class="whats-included-numbers-details__group">
            <div class="whats-included-numbers-details__item">
              <div class="whats-included-numbers-details__item-icon-container" style="background-color: {{ section.settings.main_color }}">
                <img class="whats-included-numbers-details__item-icon" src="https://cdn.shopify.com/s/files/1/0660/3207/4988/files/tests-icon.png?v=1714217638" alt="Tests" width="" height="">
              </div>
              <div class="whats-included-numbers-details__item-text-block"> 
                <p class="whats-included-numbers-details__item-title">{{ section.settings.numbers-details__title-1 }}</p>
                <p class="whats-included-numbers-details__item-text">{{ section.settings.numbers-details__text-1 }}</p>
              </div>
            </div>
            <div class="whats-included-numbers-details__item">
              <div class="whats-included-numbers-details__item-icon-container" style="background-color: {{ section.settings.main_color }}">
                <img class="whats-included-numbers-details__item-icon" src="https://cdn.shopify.com/s/files/1/0660/3207/4988/files/sessions-icon.png?v=1714217638" alt="Sessions" width="" height="">
              </div>
              <div class="whats-included-numbers-details__item-text-block"> 
                <p class="whats-included-numbers-details__item-title">{{ section.settings.numbers-details__title-2 }}</p>
                <p class="whats-included-numbers-details__item-text">{{ section.settings.numbers-details__text-2 }}</p>
              </div>
            </div>
          </div>
          <div class="whats-included-numbers-details__group">
            <div class="whats-included-numbers-details__item">
              <div class="whats-included-numbers-details__item-icon-container" style="background-color: {{ section.settings.main_color }}">
                <img class="whats-included-numbers-details__item-icon" src="https://cdn.shopify.com/s/files/1/0660/3207/4988/files/videos-icon.png?v=1714217638" alt="Videos" width="" height="">
              </div>
              <div class="whats-included-numbers-details__item-text-block"> 
                <p class="whats-included-numbers-details__item-title">{{ section.settings.numbers-details__title-3 }}</p>
                <p class="whats-included-numbers-details__item-text">{{ section.settings.numbers-details__text-3 }}</p>
              </div>
            </div>
            <div class="whats-included-numbers-details__item">
              <div class="whats-included-numbers-details__item-icon-container" style="background-color: {{ section.settings.main_color }}">
                <img class="whats-included-numbers-details__item-icon" src="https://cdn.shopify.com/s/files/1/0660/3207/4988/files/lifetime-access-icon.png?v=1714217638" alt="Lifetime Access" width="" height="">
              </div>
              <div class="whats-included-numbers-details__item-text-block"> 
                <p class="whats-included-numbers-details__item-title">{{ section.settings.numbers-details__title-4 }}</p>
                <p class="whats-included-numbers-details__item-text">{{ section.settings.numbers-details__text-4 }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="whats-included-info">
        <div>
          <h2 class="whats-included-info__title">{{ section.settings.section_title }}</h2>
          <p class="whats-included-info__text">{{ section.settings.section_text }}</p>
          <button class="whats-included-info__button" id="popupButton" style="border-color: {{ section.settings.main_color }}; color: {{ section.settings.main_color }}">Preview Program</button>
        </div>
      </div>
  </div>
  <div id="overlay"></div>
  <div id="popup">
    <div class="close-popup"><img src="https://cdn.shopify.com/s/files/1/0660/3207/4988/files/close-popup.png?v=1714247576" width="" height="" alt="Close Popup"></div>
    <img src="{{ section.settings.popup_image | img_url: 'original' }}" width="" height="" alt="{{ section.settings.section_title }}">
  </div>
</div>

{% schema %}
  {
  "name": "👾What's included",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "main_color",
      "label": "Main Color"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    },
    {
      "type": "textarea",
      "id": "section_text",
      "label": "Section Text"
    },
    {
      "type": "image_picker",
      "id": "section_main-image",
      "label": "Section Main Image"
    },
    {
      "type": "text",
      "id": "numbers-summary__text-title-1",
      "label": "Numbers Summary Text Title 1"
    },
    {
      "type": "text",
      "id": "numbers-summary__text-title-2",
      "label": "Numbers Summary Text Title 2"
    },
    {
      "type": "text",
      "id": "numbers-summary__text-title-3",
      "label": "Numbers Summary Text Title 3"
    },
    {
      "type": "textarea",
      "id": "numbers-summary__text-desc-1",
      "label": "Numbers Summary Text Desc 1"
    },
    {
      "type": "textarea",
      "id": "numbers-summary__text-desc-2",
      "label": "Numbers Summary Text Desc 2"
    },
    {
      "type": "textarea",
      "id": "numbers-summary__text-desc-3",
      "label": "Numbers Summary Text Desc 3"
    },
    {
      "type": "text",
      "id": "numbers-details__title-1",
      "label": "Numbers Details Title 1"
    },
    {
      "type": "textarea",
      "id": "numbers-details__text-1",
      "label": "Numbers Details Text 1"
    },
    {
      "type": "text",
      "id": "numbers-details__title-2",
      "label": "Numbers Details Title 2"
    },
    {
      "type": "textarea",
      "id": "numbers-details__text-2",
      "label": "Numbers Details Text 2"
    },
    {
      "type": "text",
      "id": "numbers-details__title-3",
      "label": "Numbers Details Title 3"
    },
    {
      "type": "textarea",
      "id": "numbers-details__text-3",
      "label": "Numbers Details Text 3"
    },
    {
      "type": "text",
      "id": "numbers-details__title-4",
      "label": "Numbers Details Title 4"
    },
    {
      "type": "textarea",
      "id": "numbers-details__text-4",
      "label": "Numbers Details Text 4"
    },
    {
      "type": "image_picker",
      "id": "popup_image",
      "label": "Full Size Pupup Image"
    }
  ],
  "presets": [
    {
      "name": "👾What's included"
    }
  ]
}
{% endschema %}

<script>
  document.getElementById("popupButton").addEventListener("click", function() {
    document.getElementById("popup").style.display = "block";
    document.getElementById("overlay").style.display = "block";
  });

  document.addEventListener("click", function(event) {
    var popup = document.getElementById("popup");
    if (!popup.contains(event.target) && event.target !== document.getElementById("popupButton")) {
      popup.style.display = "none";
      document.getElementById("overlay").style.display = "none";
    }
  });

  document.addEventListener("keydown", function(event) {
    if (event.key === "Escape") {
      var popup = document.getElementById("popup");
      popup.style.display = "none";
      document.getElementById("overlay").style.display = "none";
    }
  });

  document.querySelector('.close-popup').addEventListener('click', function() {
    var popup = document.getElementById("popup");
    popup.style.display = "none";
    document.getElementById("overlay").style.display = "none";
  });

  window.addEventListener('scroll', function() {
    var popup = document.querySelector('.popup');
    var offsetTop = window.innerHeight / 2;
    var scrollTop = window.scrollY || document.documentElement.scrollTop;
    
    popup.style.top = (scrollTop + offsetTop) + 'px';
  });
</script>